<!-- ======= Top Bar ======= -->
<app-topbar></app-topbar>

<!-- Header  Start-->
<div
  class="container-fluid sticky-nav"
  id=""
  style="background-color: #f2f2f2 !important"
>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
      <a routerLink="/public" class="navbar-brand">
        <img src="assets/img/DBKL LOGO (Lorry).png" alt="" loading="lazy" />
      </a>

      <button
        class="navbar-toggler border-white"
        type="button"
        style="
          border: 1px solid white !important;
          background-color: black !important;
        "
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars text-white"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a
              routerLink="/public"
              class="nav-link"
              style="color: #253d84 !important; cursor: pointer"
              i18n="@@home"
              >HOME</a
            >
          </li>
          <li class="nav-item" id="signInn">
            <a
              routerLink="/publicLogin"
              class="nav-link"
              style="color: #253d84 !important; cursor: pointer"
              i18n="@@login"
              >Login</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- Header end -->
<main id="main">
  <!-- ======= Services Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="text-center" id="">
        <div class="container1" id="container1">
          <div class="form-container sign-in-container">
            <form
              id="loginform"
              class="LOGIN_FORM"
              role="form"
              (ngSubmit)="reset()"
            >
              <div [formGroup]="resetGroup" id="formm">
                <div class="form-group">
                  <label>
                    <input
                      type="password"
                      id="form_email"
                      class="my_form-control"
                      formControlName="password"
                      [(ngModel)]="password"
                      (ngModelChange)="passError = false"
                    />
                    <small class="my_place" i18n="@@newpassword1"
                      >Enter your new Password</small
                    >
                  </label>
                </div>
                <div
                  style="margin-top: -19px"
                  *ngIf="submitted && f.password.errors"
                >
                  <small class="text-danger">
                    <i
                      *ngIf="f.password.errors.required"
                      i18n="@@passwordrequired"
                    >
                      *Password is required</i
                    >
                  </small>
                  <small class="text-danger">
                    <i *ngIf="f.password.errors.pattern">
                      <i i18n="@@passwordlength">
                        *Min 6 characters One upercase,</i
                      >
                      <i i18n="@@passwordlengh">
                        lowercase,number and special character</i
                      ></i
                    >
                  </small>
                </div>
                <div class="form-group text-center">
                  <button
                    class="btn btn-primary mt-2 mx-auto"
                    type="submit"
                    i18n="@@submit"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>

          <ngx-spinner
            bdColor="rgba(0, 0, 0, 0.8)"
            size="medium"
            color="#253d84"
            type="ball-clip-rotate-multiple"
            [fullScreen]="true"
          >
          </ngx-spinner>
          <div class="overlay-container">
            <div class="overlay">
              <div class="overlay-panel overlay-right">
                <h1 class="heading1" style="color: white">DBKL</h1>
                <p style="font-weight: bolder">&nbsp;</p>
                <button
                  class="ghost"
                  id="signUp"
                  routerLink="/publicLogin"
                  i18n="@@login"
                >
                  Login
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Success Modal -->
    <!-- <div
      class="modal"
      tabindex="-1"
      style="margin: 15% auto"
      role="dialog"
      [ngStyle]="{ display: display }"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" i18n="@@success">Success !</h4>
            <button type="button" class="close" (click)="closeSuccessModal()">
              <span aria-hidden="true"
                ><i class="fa fa-times fa-2x" aria-hidden="true"></i
              ></span>
            </button>
          </div>
          <div class="modal-body">
            <p style="text-align: center">
              <img
                style="height: 50px"
                src="../../../assets/img/success.png"
              /><br /><br />
              <b i18n="@@succes"> Password updated successfully. </b>
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              (click)="closeSuccessModal()"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <div
      class="modal"
      id="staticBackdrop"
      data-backdrop="static"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{ display: display }"
      aria-labelledby=" staticBackdropLabel "
      aria-hidden="true "
    >
      <div class="modal-dialog modal-dialog-centered" role="document ">
        <div class="modal-content">
          <div class="modal-header">
            <div
              class="swal2-icon swal2-success swal2-animate-success-icon"
              style="display: flex"
            >
              <div
                class="swal2-success-circular-line-left"
                style="background-color: rgb(255, 255, 255)"
              ></div>
              <span class="swal2-success-line-tip"></span>
              <span class="swal2-success-line-long"></span>
              <div class="swal2-success-ring"></div>
              <div
                class="swal2-success-fix"
                style="background-color: rgb(255, 255, 255)"
              ></div>
              <div
                class="swal2-success-circular-line-right"
                style="background-color: rgb(255, 255, 255)"
              ></div>
            </div>
          </div>
          <div class="modal-body">
            <h4 class="text-center">
              <span class="dialog-msg"> {{ sucessMsg }}</span>
            </h4>

            <div class="d-flex justify-content-center">
              <button
                type="button "
                i18n="@@ok"
                (click)="closeSuccessModal()"
                data-dismiss="modal "
                class="btn"
                style="
                  color: white !important;
                  border-radius: none !important;
                  background-color: #253d84;
                "
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Error modal -->

    <div
      class="modal"
      tabindex="-1"
      style="background: #02020259; display: block"
      role="dialog"
      [ngStyle]="{ display: errorDisplay }"
    >
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div
              class="swal2-icon swal2-error swal2-animate-error-icon"
              style="display: flex"
            >
              <span class="swal2-x-mark"
                ><span class="swal2-x-mark-line-left"></span
                ><span class="swal2-x-mark-line-right"></span
              ></span>
            </div>
          </div>
          <div class="modal-body" style="align-self: center">
            <h4 class="text-center" i18n="@@error">ERROR !</h4>
            <p
              class="text-center font-weight-bold"
              i18n="@@invoiceinfo3"
              style="color: black"
            >
              {{ errorMsg }}
            </p>
            <div class="d-flex justify-content-center">
              <button
                type="button"
                data-dismiss="modal"
                class="btn"
                (click)="closeErrorModal()"
                i18n="@@okERR"
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Services Section ======= -->
</main>
<!-- End #main -->
<app-footer></app-footer>
