<div id="page-top">
  <nav
    class="navbar navbar-light navbar-expand-md fixed-top"
    id="mainNav"
    style="background: #365968"
  >
    <div class="container-fluid">
      <a class="navbar-brand js-scroll-trigger" href="#"
        ><img
          src="../../../assets/img/jkas%20logo.png"
          width="64"
          height="45" /></a
      ><button
        data-toggle="collapse"
        class="navbar-toggler"
        data-target="#navbarResponsive"
        type="button"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
        value="Menu"
      >
        <i class="fa fa-bars"></i>
      </button>
      <div
        class="d-flex justify-content-center align-items-center align-content-center"
      >
        <h5 style="margin-bottom: 0">
          INTEGRATED WASTE MANAGEMENT KUALA LUMPUR
        </h5>
      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item nav-link js-scroll-trigger">
            <a class="nav-link active js-scroll-trigger">Utama</a>
          </li>
          <li class="nav-item dropdown nav-link js-scroll-trigger">
            <a
              class="dropdown-toggle nav-link"
              aria-expanded="false"
              data-toggle="dropdown"
              >Pengguna
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="[]" [fragment]="'orangAwam'">Orang Awam</a
              ><a class="dropdown-item" href="#">Agensi</a
              ><a class="dropdown-item" href="#">JKAS DBKL</a>
            </div>
          </li>
          <!-- <li class="nav-item nav-link js-scroll-trigger">
            <a class="nav-link js-scroll-trigger" href="#download">Pengguna</a>
          </li> -->
          <li class="nav-item nav-link js-scroll-trigger">
            <a class="nav-link js-scroll-trigger" href="#contact">Pengumuman</a>
          </li>
          <li class="nav-item dropdown nav-link js-scroll-trigger">
            <a
              class="dropdown-toggle nav-link"
              aria-expanded="false"
              data-toggle="dropdown"
              >Manual
            </a>
            <div class="dropdown-menu">
              <!-- <a class="dropdown-item" href="#">PDF 1</a
              ><a class="dropdown-item" href="#">PDF 2</a> -->
              <div class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle">Panduan Permohonan</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Carta Aliran Proses</a>
                  <a class="dropdown-item" href="#">Senarai Semak Dokumen</a>
                </div>
              </div>
              <div class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle">Kawasan Perkhidmatan Kutipan</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">PDF 3</a>
                  <a class="dropdown-item" href="#">PDF 4</a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-link js-scroll-trigger">
            <a class="nav-link js-scroll-trigger" href="#contact">Galeri</a>
          </li>
          <li class="nav-item nav-link js-scroll-trigger">
            <a class="nav-link js-scroll-trigger" href="#contact">Hubungi</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="masthead">
    <video
      #bgVideo
      class="masthead-video"
      autoplay
      muted
      playsinline
      loop
      defaultMuted
      webkit-playsinline
      preload="auto"
      poster="../../../assets/img/intro-bg.jpg"
    >
      <source src="../../../assets/video/Building1.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col mx-auto">
            <h6 class="brand-heading">SELAMAT DATANG</h6>
            <h6
              class="intro-text"
              style="
                font-family: Cabin, Helvetica Neue, Helvetica, Arial, sans-serif;
              "
            >
              KE PORTAL RASMI INTEGRATED WASTE MANAGEMENT KUALA LUMPUR
            </h6>
            <a class="btn btn-link btn-circle" role="button" [routerLink]="[]" [fragment]="'orangAwam'"
              ><i class="fa fa-angle-double-down"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="text-center text-dark bg-white content-section" id="orangAwam">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About grayscale</h2>
          <p>
            Grayscale is a free Bootstrap theme. It can be yours right now,
            simply download the template on&nbsp;<a href="#">the preview page</a
            >. The theme is open source, and you can use it for any purpose,
            personal or commercial.
          </p>
          <p>
            This theme features stock photos by&nbsp;<a href="#"
              >Gratisography</a
            >&nbsp;along with a custom Google Maps skin courtesy of&nbsp;<a
              href="#"
              >Snazzy Maps</a
            >.
          </p>
          <p>
            Grayscale includes full HTML, CSS, and custom JavaScript files along
            with SASS and LESS files for easy customization!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section
    class="text-center download-section content-section"
    id="download"
    style="background-image: url('../../../assets/img/downloads-bg.jpg')"
  >
    <div class="container">
      <div class="col-lg-8 mx-auto">
        <h1>Download Grayscale</h1>
        <p>You can download Grayscale for free on the preview page.</p>
        <button class="btn btn-primary btn-lg btn-default" type="button">
          visit download page
        </button>
      </div>
    </div>
  </section>
  <section class="text-center content-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p>
            Feel free to leave us a comment on the<a href="#"
              >&nbsp;Grayscale template overview page</a
            >&nbsp;to give some feedback about this theme!
          </p>
          <ul class="list-inline banner-social-buttons">
            <li class="list-inline-item">
              &nbsp;<button
                class="btn btn-primary btn-lg btn-default"
                type="button"
              >
                <i class="fa fa-google-plus fa-fw"></i
                ><span>&nbsp; Google+</span>
              </button>
            </li>
            <li class="list-inline-item">
              &nbsp;<button
                class="btn btn-primary btn-lg btn-default"
                type="button"
              >
                <i class="fa fa-twitter fa-fw"></i><span>&nbsp;Twitter</span>
              </button>
            </li>
            <li class="list-inline-item">
              &nbsp;<button
                class="btn btn-primary btn-lg btn-default"
                type="button"
              >
                <i class="fa fa-github fa-fw"></i><span>&nbsp;github</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div>
    <iframe
      allowfullscreen=""
      frameborder="0"
      src="https://cdn.bootstrapstudio.io/placeholders/map.html"
      width="100%"
      height="450"
    ></iframe>
  </div>
  <footer>
    <div class="container text-center">
      <p>Copyright ©&nbsp;Brand 2025</p>
    </div>
  </footer>
</div>
