<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row mt-3">
        <div class="col-lg-4 col-md-6 ml-3 footer-contact">

          <h4 i18n="@@contact">CONTACT US</h4>
          <p>
            Jabatan Kesihatan dan Alam Sekitar,<br />
            Dewan Bandaraya Kuala Lumpur,<br />
            KM 4, Jalan Cheras,<br />
            56100 Kuala Lumpur, MALAYSIA.
            <br>

            <i class="fa fa-phone"></i> <span style="margin-left: 7px;">03-2027 5300/03-9206 0250</span>
            <br />
            <i class="fa fa-fax" aria-hidden="true"></i><span style="margin-left: 4px;">03-9285 7295</span><br />

            <i class="fa fa-envelope"></i><span style="margin-left: 6px;">jkas@dbkl.gov.my /</span><br>
            <span style="margin-left: 27px;">alamsekitarjkas@dbkl.gov.my</span>
            <br />
            <strong>&nbsp;&nbsp;</strong><br />
          </p>
          <div class="social-links" style="margin-left: 80px;">
            <a href=" https://twitter.com/dbkl2u?lang=en" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/dbkl2u/" target="_blank"><i class="bx bxl-facebook"></i></a>

            <a href="https://sg.linkedin.com/company/dbkl" target="_blank"><i class="bx bxl-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-4 col-md-6 footer-links">


          <h4 i18n="@@v23"> USEFUL LINKS</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a i18n="@@v10" style="cursor: pointer" (click)="home('home')">HOME</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a style="cursor: pointer" (click)="user('pricing')">MENU</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a i18n="@@msg8" style="cursor: pointer" (click)="announcement('annoucements')">ANNOUNCEMENT</a>
            </li>
            <li>
              <i style="color: #253d84;" class="bx bx-chevron-right"></i>
              <a i18n="@@Manuals" style="cursor: pointer" (click)="manual('services')">MANUAL</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a i18n="@@Gallery" style="cursor: pointer" (click)="gallery('portfolio')">GALLERY</a>
            </li>
            <!-- <li>
                  <i class="bx bx-chevron-right"></i>
                  <a i18n="@@Profile" style="cursor: pointer" (click)="profile('profile')">Profile</a>
                </li> -->
          </ul>
          <!-- <div class="row mtt-3">
            <div class="col footer-info" style="height: 170px !important; margin-bottom: 10px">
              <h3 i18n="@@fu">FOLLOW US</h3>
              <div class="social-links" style="margin-top: 36px !important">
                <a href="https://twitter.com/dbkl2u?lang=en" target="_blank"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/dbkl2u/" target="_blank"><i class="bx bxl-facebook"></i></a>

                <a href="https://sg.linkedin.com/company/dbkl" target="_blank"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div> -->
        </div>

        <div class="col-lg-3 col-md-6 mtt-3 ">
          <div class="footer-info visitors"
            style="height: 281px !important;text-align: center; width: inherit !important">
            <h4 i18n="@@v30">NUMBER OF VISITORS</h4>
            <div class="d-flex justify-content-center ">
              <app-google-analytics></app-google-analytics>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="copyright">
      <strong><span i18n="@@cpoy2">Best Viewed Using Internet Explorer 9.0 / Mozilla Firefox 12.0 / Google Chrome

          13.0 And Above With 1280 x 800 Resolution</span></strong>

    </div>

    <div class="credits">

      <strong><span i18n="@@v25">All Rights Reserved © 2021 Kuala Lumpur City Hall</span> </strong>
    </div>
  </div>
  <!-- <div class="credits">
       All the links in the footer should remain intact. -->
  <!-- You can delete the links only if you purchased the pro version. -->
  <!-- Licensing information: https://bootstrapmade.com/license/ -->
  <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ -->
  <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div> -->
</footer>
<!-- End Footer -->
