<!-- ======= Top Bar ======= -->
<!-- <div id="topbar" class="align-items-center" style="background-color:#F2F2F2; opacity: 0.9"> -->
<!-- <div class="container-fluid d-flex"  style="background-color:#F2F2F2; opacity: 0.9"> -->
<!-- <div class="contact-info mr-auto">
      <i style="color: #000000
        !important" class="icofont-envelope"></i>
      <span class="topbar-item" style="color: #000000
        !important">jkas@dbkl.gov.my</span>
      <i style="color: #000000
  !important" class="icofont-phone"></i>
      <span class="topbar-item contact" style="color: #000000
  !important">03-2027 5300</span>
    </div> -->

<!-- <div class="social-links ml-auto" id="myDIV"> -->
<!-- <div
  style="
    margin-right: 35px !important;
    font-weight: 600;
    color: #000000 !important;
  "
  class="date"
  >{{ todaysDate | date }}
</div> -->
<!-- <a href="https://twitter.com/dbkl2u?lang=en" class="topbar-item" target="_blank" style="color: #000000
        !important"><i class="icofont-twitter"></i></a>
      <a href="https://www.facebook.com/dbkl2u/" class="topbar-item" target="_blank" style="color: #000000
        !important"><i class="icofont-facebook"></i></a>

      <a href="https://sg.linkedin.com/company/dbkl" class="topbar-item" target="_blank" style="color: #000000
        !important"><i class="icofont-linkedin"></i></a> -->
<!-- &nbsp; -->
<div class="lang">
  <a href="/en/{{ pathToAppend }} " (click)="englishSelected()">
    <u
      class="tbar"
      id="ck1"
      style="
        font-style: normal;
        text-decoration: none !important;
        color: white !important;
      "
      >EN</u
    >
  </a>
  <!-- <span style="color: #ffffff
        !important"> &nbsp;|</span> -->
        <span class="lang-divider">|</span>


  <a href="/ms/{{ pathToAppend }}" (click)="malaySelected()">
    <u
      class="tbar active"
      id="ck2"
      style="
        font-style: normal;
        text-decoration: none !important;
        color: white !important;
      "
      >MY</u
    >
  </a>
</div>
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
