<app-rating></app-rating>

<div
  class="modal modal-box"
  tabindex="-1"
  style="background: #02020259; display: block"
  role="dialog"
  [ngStyle]="{ display: display }"
>
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div
          class="swal2-icon swal2-success swal2-animate-success-icon"
          style="display: flex"
        >
          <div
            class="swal2-success-circular-line-left"
            style="background-color: rgb(255, 255, 255)"
          ></div>
          <span class="swal2-success-line-tip"></span>
          <span class="swal2-success-line-long"></span>
          <div class="swal2-success-ring"></div>
          <div
            class="swal2-success-fix"
            style="background-color: rgb(255, 255, 255)"
          ></div>
          <div
            class="swal2-success-circular-line-right"
            style="background-color: rgb(255, 255, 255)"
          ></div>
        </div>
      </div>
      <div class="modal-body">
        <h4 class="text-center" i18n="@@applicatio">
          Application updated successfully!
        </h4>

        <div class="d-flex justify-content-center">
          <button
            type="button"
            data-dismiss="modal"
            class="look_for"
            (click)="closeSuccessModal()"
            i18n="@@okk"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Error Modal -->

<div
  class="modal modal-box"
  tabindex="-1"
  style="background: #02020259; display: block"
  role="dialog"
  [ngStyle]="{ display: errorDisplay }"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div
          class="swal2-icon swal2-error swal2-animate-error-icon"
          style="display: flex"
        >
          <span class="swal2-x-mark"
            ><span class="swal2-x-mark-line-left"></span
            ><span class="swal2-x-mark-line-right"></span
          ></span>
        </div>
      </div>
      <div class="modal-body">
        <h4 class="text-center" i18n="@@err1">ERROR !</h4>
        <p class="text-center font-weight-bold">{{ errorMessage }}</p>
        <div class="d-flex justify-content-center">
          <button
            type="button"
            data-dismiss="modal"
            class="btn"
            (click)="closeErrorModal()"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ======= Top Bar ======= -->

<app-topbar></app-topbar>

<!-- ======= Header ======= -->
<div
  class="container-fluid sticky-nav"
  id=""
  style="background-color: #f2f2f2 !important"
>
  <div class="container-fluid" ngStickyNav>
    <nav class="navbar navbar-expand-lg">
      <a routerLink="/public" class="navbar-brand">
        <img src="assets/img/DBKL LOGO (Lorry).png" alt="" loading="lazy" />
      </a>
      <button
        class="navbar-toggler border-white"
        type="button"
        style="
          background-color: black !important;
          border: 1px solid white !important;
        "
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars text-white"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a
              routerLink="/public"
              class="nav-link"
              style="color: #253d84 !important; cursor: pointer"
              i18n="@@home"
              >HOME</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="/publicpage"
              class="nav-link"
              style="color: #253d84 !important; cursor: pointer"
              i18n="@@psppaapplication"
              >PSPPA APPLICATION</a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="color: #253d84 !important; cursor: pointer"
            >
              {{ username }}
            </a>
            <div class="dropdown-menu">
              <a
                routerLink="/profileLog"
                class="dropdown-item"
                style="cursor: pointer"
                i18n="@@Profile"
                >Profile</a
              >
              <a
                class="dropdown-item"
                style="cursor: pointer"
                data-toggle="modal"
                data-target="#centralModalDanger"
                class="dropdown-item"
                i18n="@@jflogout"
                >Logout</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- End Header -->
<main id="main" class="inner-page">
  <!-- ======= Services Section ======= -->
  <section
    style="border: 1px solid rgb(224, 217, 217); border-radius: 4px"
    id="checklistForm"
    class="services"
  >
    <div class="">
      <div class="d-flex justify-content-end">
        <button
          printSectionId="main"
          [useExistingCss]="true"
          ngxPrint
          type="button"
          style="border: 1px solid transparent; background: transparent"
        >
          <i
            style="
              font-size: 30px;
              color: #419641;
              cursor: pointer;
              float: right;
            "
            id="print"
            class="fa fa-print"
            aria-hidden="true"
          ></i>
        </button>
      </div>
      <div class="section-title">
        <!-- <span i18n="@@checklistdescription1">checklist document</span> -->
        <h2 i18n="@@checklistdescription1">checklist document</h2>
      </div>
      <div style="margin-left: 17px; margin-right: 17px">
        <h5
          class="text-center"
          i18n="@@checklistdescription"
          id="heading2"
          style="margin-bottom: 39px; font-size: 18px"
        >
          GARBAGE COLLECTION / DRAIN CLEANING / ROAD SWEEPING AND GRASS CUTTING
        </h5>
        <div id="head">
          <div>
            <p
              style="margin-top: 2%; display: inline-block"
              i18n="@@Applicationno"
            >
              Application Serial No :
            </p>
            <span style="font-weight: 700">{{ c }}</span>
          </div>
          <div>
            <p style="margin-top: 2%; display: inline-block" i18n="@@dateofapp">
              Date of Application :
            </p>
            <span style="font-weight: 700">{{ createDate }}</span>
          </div>
        </div>
        <div class="table-responsive">
          <table
            class="table table-bordered table-striped table-hover table-condensed"
            id="DyanmicTable"
          >
            <thead>
              <tr
                style="
                  background-color: #253d84;
                  color: white;
                  font-weight: normal !important;
                "
              >
                <th class="text-center" i18n="@@Bill">Bill</th>
                <th class="text-center" i18n="@@Details">Details</th>
                <th class="text-center" i18n="@@DocumentReview">
                  Document Review
                </th>
                <th class="text-center" i18n="@@Status">Status</th>
                <th class="text-center" i18n="@@Notes">Notes</th>
                <th class="text-center" i18n="@@sapld">Sample Document</th>
              </tr>
            </thead>
            <tbody id="tableBody">
              <tr>
                <td>1.</td>
                <td>
                  <span
                    >Surat Permohonan Perkhidmatan Kutipan dan Pembersihan
                    :</span
                  ><sup>*</sup> <br /><br />
                  <strong>1. Kutipan sisa Pepejal:</strong>
                  <ul style="list-style-type: lower-alpha; margin-left: 20px">
                    <li>
                      <span class="d-flex justify-content-between">
                        <span>Kutipan sampah (Bil. 1,2,3,4,5)</span>
                        <span *ngFor="let val of data">
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.kutipan_sampah === true"
                          >
                            <input
                              type="checkbox"
                              #saveUserNameCheckBox
                              (change)="
                                onSaveUsernameChanged(
                                  saveUserNameCheckBox.checked
                                )
                              "
                              checked
                            />
                          </span>

                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.kutipan_sampah === false"
                          >
                            <input
                              type="checkbox"
                              #saveUserNameCheckBox
                              (change)="
                                onSaveUsernameChanged(
                                  saveUserNameCheckBox.checked
                                )
                              "
                            />
                          </span>
                        </span>
                      </span>
                    </li>
                  </ul>
                  <br />
                  <strong>2. Pembersihan awam:</strong>
                  <ul style="list-style-type: lower-alpha; margin-left: 20px">
                    <li>
                      <span class="d-flex justify-content-between">
                        <span>Sapuan Jalan (Bil. 1,3,5,6)</span>
                        <span *ngFor="let val of data">
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.sapuan_jalan === true"
                          >
                            <input
                              type="checkbox"
                              checked
                              #saveUserNameCheckBox1
                              (change)="
                                onSaveUsernameChanged1(
                                  saveUserNameCheckBox1.checked
                                )
                              "
                            />
                          </span>
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.sapuan_jalan === false"
                            ><input
                              type="checkbox"
                              #saveUserNameCheckBox1
                              (change)="
                                onSaveUsernameChanged1(
                                  saveUserNameCheckBox1.checked
                                )
                              "
                          /></span>
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between">
                        <span>Cucian Longkang (Bil. 1,3,5,6)</span>
                        <span *ngFor="let val of data">
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.cucian_longkang == true"
                            ><input
                              type="checkbox"
                              checked
                              #saveUserNameCheckBox2
                              (change)="
                                onSaveUsernameChanged2(
                                  saveUserNameCheckBox2.checked
                                )
                              "
                          /></span>

                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.cucian_longkang == false"
                            ><input
                              type="checkbox"
                              #saveUserNameCheckBox2
                              (change)="
                                onSaveUsernameChanged2(
                                  saveUserNameCheckBox2.checked
                                )
                              "
                          /></span>
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between">
                        <span>Pemotongan Rumput (Bil. 1,3,5,6)</span>
                        <span *ngFor="let val of data">
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.pemotongan_rumput == true"
                            ><input
                              type="checkbox"
                              checked
                              #saveUserNameCheckBox3
                              (change)="
                                onSaveUsernameChanged3(
                                  saveUserNameCheckBox3.checked
                                )
                              "
                          /></span>

                          <span
                            class="d-flex align-items-center"
                            *ngIf="data[0].pemotongan_rumput == false"
                            ><input
                              type="checkbox"
                              #saveUserNameCheckBox3
                              (change)="
                                onSaveUsernameChanged3(
                                  saveUserNameCheckBox3.checked
                                )
                              "
                          /></span>
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between">
                        <span
                          >Pembersihan Tempat Awam (Tempat Letak Kenderaan /
                          Kawasan Lapang) (Bil. 1,3,5,6)</span
                        >
                        <span class="d-flex align-items-center">
                          <input
                            type="checkbox"
                          />
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between">
                        <span>Pembersihan Pasar Awam (Bil. 1,3,5,6)</span>
                        <span class="d-flex align-items-center">
                          <input
                            type="checkbox"
                          />
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between">
                        <span>Pembersihan Jejantas (Bil. 1,3,5,6)</span>
                        <span class="d-flex align-items-center">
                          <input
                            type="checkbox"
                          />
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between">
                        <span>Pembersihan Tandas Awam (Bil. 1,3,5,6)</span>
                        <span class="d-flex align-items-center">
                          <input
                            type="checkbox"
                          />
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between">
                        <span>Pembersihan Pusat Penjaja (Bil. 1,3,5,6)</span>
                        <span class="d-flex align-items-center">
                          <input
                            type="checkbox"
                          />
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between">
                        <span>Pembersihan Hentian Bas (Bil. 1,3,5,6)</span>
                        <span class="d-flex align-items-center">
                          <input
                            type="checkbox"
                          />
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between">
                        <span>Pembersihan Hentian Teksi (Bil. 1,3,5,6)</span>
                        <span class="d-flex align-items-center">
                          <input
                            type="checkbox"
                          />
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between">
                        <span
                          >Pembersihan Taman Permainan Kanak-Kanak (TPKK) (Bil.
                          1,3,5,6)</span
                        >
                        <span *ngFor="let val of data">
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.luas_kawasan_TPKK == true"
                            ><input
                              type="checkbox"
                              checked
                              #saveUserNameCheckBox10
                              (change)="
                                onSaveUsernameChanged10(
                                  saveUserNameCheckBox10.checked
                                )
                              "
                          /></span>

                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.luas_kawasan_TPKK == false"
                            ><input
                              type="checkbox"
                              #saveUserNameCheckBox10
                              (change)="
                                onSaveUsernameChanged10(
                                  saveUserNameCheckBox10.checked
                                )
                              "
                          /></span>
                        </span>
                      </span>
                    </li>
                  </ul>
                </td>
                <td style="text-align: center" class="anc">
                  <label class="custom-file-upload">
                    <input
                      type="file"
                      ng2FileSelect
                      accept=".pdf"
                      id="file-upload"
                      [uploader]="uploader"
                      multiple
                      (change)="doUploadSuratPermohonan()"
                    />
                    <i class="fa fa-cloud-upload"></i> </label
                  ><br /><span i18n="@@puydh">
                    Please upload your document here.</span
                  >
                  <span
                    style="display: block; cursor: pointer"
                    *ngFor="let val of suratPermohonan; index as i"
                  >
                    <span>
                      <a (click)="getPdf(val)" target="_blank">{{ val }}</a>
                      <span
                        id="cl{{ i }}"
                        *ngIf="
                          surat_permohonan_perkhidmatan_pembersihan_dokumen !=
                          ''
                        "
                      >
                        <i
                          (click)="removeSuratPermohonan(i)"
                          id="{{ i }}"
                          class="fa fa-trash"
                          style="cursor: pointer; margin-left: 8px"
                        ></i>
                      </span>
                    </span>
                    <br />
                  </span>
                  <table>
                    <tbody>
                      <tr *ngFor="let item of uploader.queue">
                        <th width="90%">
                          {{ item.file.name }}({{ item.file.size / 1000000 }}
                          MB)
                        </th>
                        <th class="text-center" width="10%">
                          <i
                            (click)="item.remove()"
                            class="fa fa-trash"
                            style="cursor: pointer"
                          ></i>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <span *ngFor="let val of data">
                    <span
                      *ngIf="
                        val.surat_permohonan_perkhidmatan_pembersihan_status ==
                        true
                      "
                      i18n="@@Complete"
                    >
                      Complete
                    </span>
                    <span
                      *ngIf="
                        val.surat_permohonan_perkhidmatan_pembersihan_status ==
                        false
                      "
                      i18n="@@Incomplete"
                    >
                      Incomplete
                    </span>
                  </span>
                </td>
                <td class="add">
                  <div
                    style="margin-bottom: 4px"
                    *ngIf="
                      surat_permohonan_perkhidmatan_pembersihan_catatan != ''
                    "
                  >
                    <div
                      *ngFor="let x of notice1; index as i"
                      style="width: 241px; text-align: left !important"
                    >
                      <div class="d-flex justify-content-start">
                        <div *ngIf="x.includes('DBKL:')" class="message-dbkl">
                          <span>{{ x.substring(5) }}</span>
                        </div>
                      </div>
                      <div class="d-flex justify-content-end">
                        <div
                          *ngIf="x.includes('PUBLIC:')"
                          class="message-public"
                        >
                          <span>{{ x.substring(7) }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="margin-bottom: 2px">
                    <div *ngFor="let x of firstMessage; index as i">
                      <div class="message-public-draft">
                        <span>{{ x.substring(7) }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 20px">
                    <div class="col-8">
                      <textarea
                        [(ngModel)]="text"
                        (ngModelChange)="getData(text)"
                        id="tex1"
                      >
                      </textarea>
                    </div>
                    <div class="col-2">
                      <i
                        (click)="add1()"
                        class="fa fa-paper-plane"
                        aria-hidden="true"
                      ></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="module_item">
                    <a
                      style="
                        color: red !important;
                        cursor: pointer;
                        text-align: center;
                      "
                      (click)="opendocument()"
                      target="_blank"
                      >CONTOH SURAT PERMOHONAN.pdf</a
                    >
                  </div>
                </td>
              </tr>
              <tr>
                <td>2.</td>
                <td>
                  <span
                    >Surat salinan CF / CCC / Borang F</span
                  >
                </td>
                <td style="text-align: center" class="anc">
                  <label class="custom-file-upload">
                    <input
                      type="file"
                      ng2FileSelect
                      accept=".pdf"
                      id="file-upload"
                      [uploader]="uploader"
                      multiple
                      (change)="doUploadSuratSalinan()"
                    />
                    <i class="fa fa-cloud-upload"></i>
                  </label>
                  <br /><span i18n="@@puydh">
                    Please upload your document here.</span
                  >
                  <span
                    style="display: block; cursor: pointer"
                    *ngFor="let val of suratSalinan; index as i"
                  >
                    <span>
                      <a (click)="getPdf(val)" target="_blank">{{ val }}</a>
                      <span
                        id="cl2{{ i }}"
                        *ngIf="surat_salinan_CF_dokumen != ''"
                      >
                        <i
                          (click)="removeSuratSalinan(i)"
                          id="{{ i }}"
                          class="fa fa-trash"
                          style="cursor: pointer; margin-left: 8px"
                        ></i>
                      </span>
                    </span>
                    <br />
                  </span>
                  <table>
                    <tbody>
                      <tr *ngFor="let item of suratSalinan; index as i">
                        <th width="90%">
                          {{ item }}
                        </th>
                        <th class="text-center" width="10%">
                          <i
                            (click)="removeSuratSalinan(i)"
                            class="fa fa-trash"
                            style="cursor: pointer"
                          ></i>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <span *ngFor="let val of data">
                    <span *ngIf="val.surat_salinan_CF_status == true">
                      Lengkap
                    </span>
                    <span *ngIf="val.surat_salinan_CF_status == false">
                      Tidak Lengkap
                    </span>
                  </span>
                </td>
                <td class="add">
                  <div
                    style="margin-bottom: 4px"
                    *ngIf="surat_salinan_CF_catatan != ''"
                  >
                    <div
                      *ngFor="let x of notice2; index as i"
                      style="width: 241px; text-align: left !important"
                    >
                      <div class="d-flex justify-content-start">
                        <div *ngIf="x.includes('DBKL:')" class="message-dbkl">
                          <span>{{ x.substring(5) }}</span>
                        </div>
                      </div>
                      <div class="d-flex justify-content-end">
                        <div
                          *ngIf="x.includes('PUBLIC:')"
                          class="message-public"
                        >
                          <span>{{ x.substring(7) }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="margin-bottom: 2px">
                    <div *ngFor="let x of secondMessage; index as i">
                      <div class="message-public-draft">
                        <span>{{ x.substring(7) }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 20px">
                    <div class="col-8">
                      <textarea
                        [(ngModel)]="text2"
                        (ngModelChange)="getData2(text2)"
                        id="tex1"
                      >
                      </textarea>
                    </div>
                    <div class="col-2">
                      <i
                        (click)="add2()"
                        class="fa fa-paper-plane"
                        aria-hidden="true"
                      ></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="module_item">
                    <a
                      style="
                        color: red !important;
                        cursor: pointer;
                        text-align: center;
                      "
                      (click)="open2nddocument()"
                      target="_blank"
                      >CONTOH BORANG F.pdf</a
                    >
                  </div>
                </td>
              </tr>
              <tr>
                <td>3.</td>
                <td i18n="@@State">
                  <span
                    >State the name of the building/park to be serviced</span
                  >
                </td>
                <td>
                  <textarea
                    id="inputBtm1"
                    style="margin-left: 20px; width: 80%"
                    maxlength="100"
                    [(ngModel)]="buildingName1"
                  ></textarea>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>4.</td>
                <td>
                  <span
                    >Dinyatakan jenis sistem pelupusan sampah dan jumlah tong yang diluluskan oleh pihak SWCorp</span
                  >
                </td>
                <td style="text-align: center">
                  <label class="custom-file-upload">
                    <input
                      type="file"
                      ng2FileSelect
                      accept=".pdf"
                      id="file-upload"
                      [uploader]="uploader"
                      multiple
                      (change)="doUploadTypeDisposal()"
                    />
                    <i class="fa fa-cloud-upload"></i> </label
                  ><br />
                  <span i18n="@@puydh"> Please upload your document here.</span>
                  <table>
                    <tbody>
                      <tr *ngFor="let item of typeDisposal; index as i">
                        <th width="90%">
                          {{ item }}
                        </th>
                        <th class="text-center" width="10%">
                          <i
                            (click)="removeTypeDisposal(i)"
                            class="fa fa-trash"
                            style="cursor: pointer"
                          ></i>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div class="module_item">
                    <a
                      style="
                        color: red !important;
                        cursor: pointer;
                        text-align: center;
                      "
                      (click)="open5thdocument()"
                      target="_blank"
                      >CONTOH PELAN RUMAH SAMPAH YANG DILULUSKAN OLEH
                      SWCorp.pdf</a
                    >
                  </div>
                </td>
              </tr>
              <tr>
                <td>5.</td>
                <td>
                  <span i18n="@@Copy">Copy of Development Status</span>
                  <ul style="list-style-type: lower-alpha">
                    <li>
                      <span class="d-flex justify-content-between"
                        ><span i18n="@@Strata">Strata "Title"</span>
                        <span *ngFor="let val of data">
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.strata_title == true"
                            ><input
                              type="checkbox"
                              checked
                              #saveUserNameCheckBox4
                              (change)="
                                onSaveUsernameChanged4(
                                  saveUserNameCheckBox4.checked
                                )
                              "
                          /></span>
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.strata_title == false"
                            ><input
                              type="checkbox"
                              #saveUserNameCheckBox4
                              (change)="
                                onSaveUsernameChanged4(
                                  saveUserNameCheckBox4.checked
                                )
                              "
                          /></span>
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between"
                        ><span i18n="@@Freehold"> Freehold</span>
                        <span *ngFor="let val of data">
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.hak_milik_kekal == true"
                            ><input
                              type="checkbox"
                              checked
                              #saveUserNameCheckBox5
                              (change)="
                                onSaveUsernameChanged5(
                                  saveUserNameCheckBox5.checked
                                )
                              "
                          /></span>
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.hak_milik_kekal == false"
                            ><input
                              type="checkbox"
                              #saveUserNameCheckBox5
                              (change)="
                                onSaveUsernameChanged5(
                                  saveUserNameCheckBox5.checked
                                )
                              "
                          /></span>
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between">
                        <span>Status Tanah (Kegunaan Tanah)</span>
                        <span class="d-flex align-items-center">
                          <input
                            type="checkbox"
                          />
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between">
                        <span>Lain-lain</span>
                        <span class="d-flex align-items-center">
                          <input
                            type="checkbox"
                          />
                        </span>
                      </span>
                    </li>
                  </ul>
                </td>
                <td style="text-align: center" class="anc">
                  <label class="custom-file-upload">
                    <input
                      type="file"
                      ng2FileSelect
                      accept=".pdf"
                      id="file-upload"
                      [uploader]="uploader"
                      (change)="doUploadDevelopmentStatus()"
                      multiple
                    />

                    <i class="fa fa-cloud-upload"></i> </label
                  ><br /><span i18n="@@puydh">
                    Please upload your document here.</span
                  >
                  <span
                    style="display: block; cursor: pointer"
                    *ngFor="let val of developmentStatus; index as i"
                  >
                    <span>
                      <a (click)="getPdf(val)" target="_blank">{{ val }}</a>
                      <span
                        id="cl3{{ i }}"
                        *ngIf="salinan_status_pembanginan_dokumen != ''"
                      >
                        <i
                          (click)="removeDevelopmentStatus(i)"
                          id="{{ i }}"
                          class="fa fa-trash"
                          style="cursor: pointer; margin-left: 8px"
                        ></i>
                      </span>
                    </span>
                    <br />
                  </span>
                  <table>
                    <tbody>
                      <tr *ngFor="let item of developmentStatus; index as i">
                        <th width="90%">
                          {{ item }}
                        </th>
                        <th class="text-center" width="10%">
                          <i
                            (click)="removeDevelopmentStatus(i)"
                            class="fa fa-trash"
                            style="cursor: pointer"
                          ></i>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <span *ngFor="let val of data">
                    <span *ngIf="val.salinan_status_pembanginan_status == true">
                      Lengkap
                    </span>
                    <span
                      *ngIf="val.salinan_status_pembanginan_status == false"
                    >
                      Tidak Lengkap
                    </span>
                  </span>
                </td>
                <td class="add">
                  <div
                    style="margin-bottom: 4px"
                    *ngIf="salinan_status_pembanginan_catatan != ''"
                  >
                    <div
                      *ngFor="let x of notice3; index as i"
                      style="width: 241px; text-align: left !important"
                    >
                      <div class="d-flex justify-content-start">
                        <div *ngIf="x.includes('DBKL:')" class="message-dbkl">
                          <span>{{ x.substring(5) }}</span>
                        </div>
                      </div>
                      <div class="d-flex justify-content-end">
                        <div
                          *ngIf="x.includes('PUBLIC:')"
                          class="message-public"
                        >
                          <span>{{ x.substring(7) }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="margin-bottom: 2px">
                    <div *ngFor="let x of thirdMessage; index as i">
                      <div class="message-public-draft">
                        <span>{{ x.substring(7) }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 20px">
                    <div class="col-8">
                      <textarea
                        [(ngModel)]="text3"
                        (ngModelChange)="getData3(text3)"
                        id="tex3"
                      >
                      </textarea>
                    </div>
                    <div class="col-2">
                      <i
                        (click)="add3()"
                        class="fa fa-paper-plane"
                        aria-hidden="true"
                      ></i>
                    </div>
                  </div>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>6.</td>
                <td>
                  <span i18n="@@Fordevelopment1">
                    Share development status other than "title" strata </span
                  ><br />
                  <span id="Fordevelopment" i18n="@@Fordevelopment">
                    Enclosed is an inventory (area) for applications for road
                    sweeping, drain cleaning and grass cutting services such as:
                  </span>
                  <ul style="list-style-type: lower-alpha">
                    <li>
                      <span class="d-flex justify-content-between"
                        ><span i18n="@@StreetName">Street Name</span>
                        <span *ngFor="let val of data">
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.nama_jalan == true"
                            ><input
                              type="checkbox"
                              checked
                              #saveUserNameCheckBox6
                              (change)="
                                onSaveUsernameChanged6(
                                  saveUserNameCheckBox6.checked
                                )
                              "
                          /></span>

                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.nama_jalan == false"
                            ><input
                              type="checkbox"
                              #saveUserNameCheckBox6
                              (change)="
                                onSaveUsernameChanged6(
                                  saveUserNameCheckBox6.checked
                                )
                              "
                          /></span>
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between"
                        ><span i18n="@@Roadlength"
                          >Road length by street name</span
                        >
                        <span *ngFor="let val of data">
                          <span
                            class="d-flex align-items-center"
                            *ngIf="
                              val.panjang_jalan_mengikut_nama_jalan == true
                            "
                            ><input
                              type="checkbox"
                              checked
                              #saveUserNameCheckBox7
                              (change)="
                                onSaveUsernameChanged7(
                                  saveUserNameCheckBox7.checked
                                )
                              "
                          /></span>

                          <span
                            class="d-flex align-items-center"
                            *ngIf="
                              val.panjang_jalan_mengikut_nama_jalan == false
                            "
                            ><input
                              type="checkbox"
                              #saveUserNameCheckBox7
                              (change)="
                                onSaveUsernameChanged7(
                                  saveUserNameCheckBox7.checked
                                )
                              "
                          /></span>
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between"
                        ><span i18n="@@Thelength"
                          >The length of the drain
                        </span>
                        <span *ngFor="let val of data">
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.panjang_longkang == true"
                            ><input
                              type="checkbox"
                              checked
                              #saveUserNameCheckBox8
                              (change)="
                                onSaveUsernameChanged8(
                                  saveUserNameCheckBox8.checked
                                )
                              "
                          /></span>

                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.panjang_longkang == false"
                            ><input
                              type="checkbox"
                              #saveUserNameCheckBox8
                              (change)="
                                onSaveUsernameChanged8(
                                  saveUserNameCheckBox8.checked
                                )
                              "
                          /></span>
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between"
                        ><span i18n="@@Grassyarea">Grassy area</span>
                        <span *ngFor="let val of data">
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.luas_kawasan_berumput == true"
                            ><input
                              type="checkbox"
                              checked
                              #saveUserNameCheckBox9
                              (change)="
                                onSaveUsernameChanged9(
                                  saveUserNameCheckBox9.checked
                                )
                              "
                          /></span>

                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.luas_kawasan_berumput == false"
                            ><input
                              type="checkbox"
                              #saveUserNameCheckBox9
                              (change)="
                                onSaveUsernameChanged9(
                                  saveUserNameCheckBox9.checked
                                )
                              "
                          /></span>
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between"
                        ><span i18n="@@TPKKarea1">TPKK area</span>
                        <span *ngFor="let val of data">
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.luas_kawasan_TPKK == true"
                            ><input
                              type="checkbox"
                              checked
                              #saveUserNameCheckBox10
                              (change)="
                                onSaveUsernameChanged10(
                                  saveUserNameCheckBox10.checked
                                )
                              "
                          /></span>

                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.luas_kawasan_TPKK == false"
                            ><input
                              type="checkbox"
                              #saveUserNameCheckBox10
                              (change)="
                                onSaveUsernameChanged10(
                                  saveUserNameCheckBox10.checked
                                )
                              "
                          /></span>
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between"
                        ><span i18n="@@Largespace"
                          >Large space (parking area) if applicable</span
                        >
                        <span *ngFor="let val of data">
                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.parkir_area == true"
                            ><input
                              checked
                              type="checkbox"
                              #saveUserNameCheckBox11
                              (change)="
                                onSaveUsernameChanged11(
                                  saveUserNameCheckBox11.checked
                                )
                              "
                          /></span>

                          <span
                            class="d-flex align-items-center"
                            *ngIf="val.parkir_area == false"
                            ><input
                              type="checkbox"
                              #saveUserNameCheckBox11
                              (change)="
                                onSaveUsernameChanged11(
                                  saveUserNameCheckBox11.checked
                                )
                              "
                          /></span>
                        </span>
                      </span>
                    </li>
                    <li>
                      <span class="d-flex justify-content-between"
                        ><span
                          >Surat pengesahan dari Jabatan DBKL (JPIF, JPLR, JPRB (OSC))</span
                        >
                        <span class="d-flex align-items-center"
                          ><input
                            [(ngModel)]="suratPengesahan"
                            type="checkbox" /></span
                      ></span>
                    </li>
                  </ul>
                </td>
                <td style="text-align: center" class="anc">
                  <label class="custom-file-upload">
                    <input
                      type="file"
                      ng2FileSelect
                      accept=".pdf"
                      id="file-upload"
                      [uploader]="uploader"
                      (change)="doUploadOtherDocuments()"
                      multiple
                    />
                    <i class="fa fa-cloud-upload"></i> </label
                  ><br /><span i18n="@@puydh">
                    Please upload your document here.</span
                  >
                  <span
                    style="display: block; cursor: pointer"
                    *ngFor="let val of otherDocuments; index as i"
                  >
                    <span>
                      <a (click)="getPdf(val)" target="_blank">{{ val }}</a>
                      <span
                        id="cl4{{ i }}"
                        *ngIf="bagi_status_pembangunan_dokumen != ''"
                      >
                        <i
                          (click)="removeOtherDocuments(i)"
                          id="{{ i }}"
                          class="fa fa-trash"
                          style="cursor: pointer; margin-left: 8px"
                        ></i>
                      </span>
                    </span>
                    <br />
                  </span>
                  <table>
                    <tbody>
                      <tr *ngFor="let item of otherDocuments; index as i">
                        <th width="90%">
                          {{ item }}
                        </th>
                        <th class="text-center" width="10%">
                          <!-- <mat-icon (click)="item.remove()">delete</mat-icon> -->
                          <i
                            class="fa fa-trash"
                            style="cursor: pointer"
                            (click)="removeOtherDocuments(i)"
                          ></i>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <span *ngFor="let val of data">
                    <span *ngIf="val.bagi_status_pembangunan_status == true">
                      Lengkap
                    </span>
                    <span *ngIf="val.bagi_status_pembangunan_status == false">
                      Tidak Lengkap
                    </span>
                  </span>
                </td>
                <td class="add">
                  <div
                    style="margin-bottom: 4px"
                    *ngIf="bagi_status_pembangunan_catatan != ''"
                  >
                    <div
                      *ngFor="let x of notice4; index as i"
                      style="width: 241px; text-align: left !important"
                    >
                      <div class="d-flex justify-content-start">
                        <div *ngIf="x.includes('DBKL:')" class="message-dbkl">
                          <span>{{ x.substring(5) }}</span>
                        </div>
                      </div>
                      <div class="d-flex justify-content-end">
                        <div
                          *ngIf="x.includes('PUBLIC:')"
                          class="message-public"
                        >
                          <span>{{ x.substring(7) }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="margin-bottom: 2px">
                    <div *ngFor="let x of fourthMessage; index as i">
                      <div class="message-public-draft">
                        <span>{{ x.substring(7) }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 20px">
                    <div class="col-8">
                      <textarea
                        [(ngModel)]="text4"
                        (ngModelChange)="getData4(text4)"
                        id="text4"
                      >
                      </textarea>
                    </div>
                    <div class="col-2">
                      <i
                        (click)="add4()"
                        class="fa fa-paper-plane"
                        aria-hidden="true"
                      ></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="module_item">
                    <a
                      style="
                        color: red !important;
                        cursor: pointer;
                        text-align: center;
                      "
                      (click)="open6thdocument()"
                      target="_blank"
                      >PELAN INVENTORI KAWASAN PERKHIDMATAN PEMBERSIHAN.pdf</a
                    >
                  </div>
                   <br />
                  <div class="module_item">
                    <a
                      style="
                        color: red !important;
                        cursor: pointer;
                        text-align: center;
                      "
                      (click)="open3rddocument()"
                      target="_blank"
                      >JALAN AWAM.pdf</a
                    >
                  </div>
                  <br />
                  <div class="module_item">
                    <a
                      style="
                        color: red !important;
                        cursor: pointer;
                        text-align: center;
                      "
                      (click)="open4rthdocument()"
                      target="_blank"
                      >PELAN JALAN AWAM.pdf</a
                    >
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="d-flex mt-3" style="margin-left: 20px">
      <input style="margin-top: 6px" type="checkbox" [(ngModel)]="confirm" />
      <span i18n="@@icgai"
        >&nbsp; I certify that all information provided is true and
        accurate.</span
      >
    </div>
    <div class="d-flex justify-content-center mt-3">
      <span i18n="@@overallstatus">Overall Document Status : </span>
      <span
        *ngIf="status_dokumen_keseluruhan == true"
        style="margin-left: 5px; font-weight: 700"
        >Lengkap</span
      >
      <span
        *ngIf="status_dokumen_keseluruhan == false"
        style="margin-left: 5px; font-weight: 700"
        >Tidak Lengkap</span
      >
      <span
        *ngIf="status_dokumen_keseluruhan == null"
        style="margin-left: 5px; font-weight: 700"
        i18n="@@Submitted"
        >Submitted</span
      >
    </div>
    <div class="d-flex justify-content-center mt-3" style="margin-bottom: 10px">
      <button
        class="look_for_red"
        style="margin-right: 20px"
        routerLink="/publicpage"
        i18n="@@cancel"
      >
        Back
      </button>
      <button class="look_for" (click)="updatedata()" i18n="@@submit">
        Submit
      </button>
    </div>
  </section>
  <!-- End Services Section -->
</main>
<!-- ======= Footer ======= -->
<app-footer-v2></app-footer-v2>

<a
  (click)="backtotop()"
  class="back-to-top"
  style="cursor: pointer; display: none"
  ><i class="icofont-scroll-double-up"></i
></a>
