<nav
  class="navbar navbar-light navbar-expand-md fixed-top"
  id="mainNav"
  style="background: #365968"
>
  <div class="container-fluid d-flex language-toggle">
    <app-topbar-v2></app-topbar-v2>
  </div>
  <div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger" href="#"
      ><img
        src="../../../assets/img/jkas%20logo.png"
        width="64"
        height="45" /></a
    ><button
      data-toggle="collapse"
      class="navbar-toggler"
      data-target="#navbarResponsive"
      type="button"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      value="Menu"
    >
      <i class="fa fa-bars"></i>
    </button>
    <div
      class="d-flex justify-content-center align-items-center align-content-center"
    >
      <h5 style="margin-bottom: 0">INTEGRATED WASTE MANAGEMENT KUALA LUMPUR</h5>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-link js-scroll-trigger">
          <a class="nav-link active js-scroll-trigger">Utama</a>
        </li>
        <li class="nav-item dropdown nav-link js-scroll-trigger">
          <a
            class="dropdown-toggle nav-link"
            aria-expanded="false"
            data-toggle="dropdown"
            >Pengguna
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="[]" [fragment]="'orangAwam'"
              >Orang Awam</a
            ><a class="dropdown-item" href="/agency">Agensi</a
            ><a class="dropdown-item" href="/dbkl/adminregister">JKAS DBKL</a>
          </div>
        </li>
        <li class="nav-item nav-link js-scroll-trigger">
          <a
            class="nav-link js-scroll-trigger"
            [routerLink]="[]"
            [fragment]="'pengumuman'"
            >Pengumuman</a
          >
        </li>
        <li class="nav-item dropdown nav-link js-scroll-trigger">
          <a
            class="dropdown-toggle nav-link"
            aria-expanded="false"
            data-toggle="dropdown"
            >Manual
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle">Panduan Permohonan</a>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  href="assets/pdfs/CARTAALIRSERAHANKAWASAN.pdf"
                  >Carta Aliran Proses</a
                >
                <a class="dropdown-item" href="assets/pdfs/ManualPengguna.pdf"
                  >Senarai Semak Dokumen</a
                >
              </div>
            </div>
            <a class="dropdown-item" href="assets/pdfs/JKASManualPengguna.pdf"
              >Kawasan Perkhidmatan Kutipan</a
            >
          </div>
        </li>
        <li class="nav-item nav-link js-scroll-trigger">
          <a
            class="nav-link js-scroll-trigger"
            [routerLink]="[]"
            [fragment]="'galeri'"
            >Galeri</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
