<nav
  class="navbar navbar-light navbar-expand-md fixed-top"
  id="mainNav"
  style="background: #365968"
>
  <div class="container-fluid d-flex language-toggle">
    <app-topbar-v2></app-topbar-v2>
  </div>
  <div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger" href="#"
      ><img
        src="../../../assets/img/dbkl-logo.png"
        width="64"
        height="45" /><img
        src="../../../assets/img/jkas%20logo.png"
        width="64"
        height="45" /></a
    ><button
      data-toggle="collapse"
      class="navbar-toggler"
      data-target="#navbarResponsive"
      type="button"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      value="Menu"
    >
      <i class="fa fa-bars"></i>
    </button>
    <div
      class="d-flex justify-content-center align-items-center align-content-center"
    >
      <h5 style="margin-bottom: 0">INTEGRATED WASTE MANAGEMENT KUALA LUMPUR</h5>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!-- Dynamically generated navigation items -->
        <ng-container *ngFor="let item of navItems">
          <li
            *ngIf="shouldShowNavItem(item)"
            class="nav-item nav-link js-scroll-trigger"
            [class.dropdown]="item?.dropdown"
          >
            <!-- Regular nav item -->
            <ng-container *ngIf="!item?.dropdown">
              <!-- Navigation item with onClick action -->
              <a
                *ngIf="item?.onClick"
                href="javascript:void(0);"
                class="nav-link js-scroll-trigger"
                (click)="handleNavItemClick(item?.onClick)"
              >
                {{ item?.label }}
              </a>
              <!-- Regular navigation item with routerLink -->
              <a
                *ngIf="!item?.onClick"
                [routerLink]="item?.path ? [item?.path] : []"
                [fragment]="item?.fragment"
                class="nav-link js-scroll-trigger"
              >
                {{ item?.label }}
              </a>
            </ng-container>

            <!-- Dropdown nav item -->
            <ng-container *ngIf="item?.dropdown">
              <a
                class="dropdown-toggle nav-link"
                aria-expanded="false"
                data-toggle="dropdown"
              >
                {{ item?.label }}
              </a>
              <div class="dropdown-menu">
                <ng-container *ngFor="let subItem of item.items">
                  <ng-container *ngIf="shouldShowNavItem(subItem)">
                    <!-- Regular dropdown item -->
                    <!-- For subItem that's not a dropdown but has externalPath (PDF file) -->
                    <a
                      *ngIf="!subItem?.dropdown && subItem.externalPath"
                      class="dropdown-item"
                      href="javascript:void(0);"
                      (click)="handlePdfClick(subItem.externalPath)"
                    >
                      {{ subItem?.label }}
                    </a>

                    <!-- For subItem that's not a dropdown and not externalPath (normal navigation) -->
                    <a
                      *ngIf="!subItem?.dropdown && !subItem.externalPath"
                      class="dropdown-item"
                      [routerLink]="subItem?.path ? [subItem?.path] : []"
                      [fragment]="subItem?.fragment"
                    >
                      {{ subItem?.label }}
                    </a>
                    <!-- Nested dropdown submenu -->
                    <div *ngIf="subItem?.dropdown" class="dropdown-submenu">
                      <a class="dropdown-item dropdown-toggle">{{
                        subItem?.label
                      }}</a>
                      <div class="dropdown-menu">
                        <a
                          *ngFor="let nestedItem of subItem.items"
                          class="dropdown-item"
                          [attr.href]="
                            nestedItem.externalPath
                              ? nestedItem.externalPath
                              : null
                          "
                          [routerLink]="
                            nestedItem?.path ? [nestedItem?.path] : null
                          "
                          [fragment]="nestedItem?.fragment"
                          (click)="
                            nestedItem.externalPath
                              ? handlePdfClick(nestedItem.externalPath)
                              : null
                          "
                        >
                          {{ nestedItem?.label }}
                        </a>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </li>
        </ng-container>
      </ul>
      <!-- <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-link js-scroll-trigger">
          <a class="nav-link active js-scroll-trigger">Utama</a>
        </li>
        <li class="nav-item dropdown nav-link js-scroll-trigger">
          <a
            class="dropdown-toggle nav-link"
            aria-expanded="false"
            data-toggle="dropdown"
            >Pengguna
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="[]" [fragment]="'orangAwam'"
              >Orang Awam</a
            ><a class="dropdown-item" href="/agency">Agensi</a
            ><a class="dropdown-item" href="/dbkl/adminregister">JKAS DBKL</a>
          </div>
        </li>
        <li class="nav-item nav-link js-scroll-trigger">
          <a
            class="nav-link js-scroll-trigger"
            [routerLink]="[]"
            [fragment]="'pengumuman'"
            >Pengumuman</a
          >
        </li>
        <li class="nav-item dropdown nav-link js-scroll-trigger">
          <a
            class="dropdown-toggle nav-link"
            aria-expanded="false"
            data-toggle="dropdown"
            >Manual
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle">Panduan Permohonan</a>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  href="assets/pdfs/CARTAALIRSERAHANKAWASAN.pdf"
                  >Carta Aliran Proses</a
                >
                <a class="dropdown-item" href="assets/pdfs/ManualPengguna.pdf"
                  >Senarai Semak Dokumen</a
                >
              </div>
            </div>
            <a class="dropdown-item" href="assets/pdfs/JKASManualPengguna.pdf"
              >Kawasan Perkhidmatan Kutipan</a
            >
          </div>
        </li>
        <li class="nav-item nav-link js-scroll-trigger">
          <a
            class="nav-link js-scroll-trigger"
            [routerLink]="[]"
            [fragment]="'galeri'"
            >Galeri</a
          >
        </li>
      </ul> -->
    </div>
  </div>
</nav>
