<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#253d84" type="ball-clip-rotate-multiple"
  [fullScreen]="true">

</ngx-spinner>
<!-- Success Modal Start-->
<div class="modal" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
  [ngStyle]="{ display: display }" aria-labelledby=" staticBackdropLabel " aria-hidden="true ">
  <div class="modal-dialog modal-dialog-centered" role="document ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex">
          <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255)"></div>
          <span class="swal2-success-line-tip"></span>
          <span class="swal2-success-line-long"></span>
          <div class="swal2-success-ring"></div>
          <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255)"></div>
          <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255)"></div>
        </div>
      </div>
      <div class="modal-body">
        <h4 class="text-center">
          <span class="dialog-msg" i18n="@@meetingUp">{{ meetingupdate }}&nbsp;</span>
        </h4>

        <div class="d-flex justify-content-center">
          <button type="button " i18n="@@ok" (click)="onCloseHandled()" data-dismiss="modal " class="btn" style="
              color: white !important;
              border-radius: 4px !important;
             background-image: linear-gradient(to bottom, #337ab7 0, #265a88 100%);

            ">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Success Modal End -->
<!-- Error Modal Start -->
<div class="modal" id="staticBackdrop1" data-backdrop="static" tabindex="-1" role="dialog"
  [ngStyle]="{ display: display1 }" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-12">
          <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex; justify-content: center">
            <span class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span
                class="swal2-x-mark-line-right"></span></span>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <h6 style="text-align: center">
          <span i18n="@@invoiceinfo3" class="dialog-msg">{{ errmsg }}</span>
        </h6>

        <div class="d-flex justify-content-center mt-4">
          <button class="btn" (click)="onCloseHandled1()" i18n="@@ok" style="
               background-image: -webkit-linear-gradient(top, #d9534f 0, #c12e2a 100%);

              color: white !important;
              border-radius: 4px !important;
            ">
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Error Modal End -->
<!-- Topbar -->
<app-topbar></app-topbar>
<!-- End of Topbar -->
<!-- Header -->
<div class="container-fluid sticky-nav" id="" style="background-color: #f2f2f2 !important">
  <div class="container-fluid" ngStickyNav>
    <nav class="navbar navbar-expand-lg">
      <a routerLink="/public" class="navbar-brand ">
        <img src="../../../assets/img/DBKL LOGO (Lorry).png" alt="" loading="lazy" />

      </a>






      <button class="navbar-toggler border-white" type="button" style="
          border: 1px solid white !important;
          background-color: black !important;
        " data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item" style="list-style-type: none;">
            <a routerLink="/dbkl/dbklmainpage" class="nav-link" style="color: #253d84 !important; cursor: pointer"
              i18n="@@home">HOME</a>
          </li>
          <li class="nav-item dropdown" id="user" style="list-style-type: none;">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: #253d84 !important; cursor: pointer"
              i18n="@@n23">
              FINANCIAL
            </a>

            <div class="dropdown-menu">
              <a routerLink="/dbkl/claim-review" class="dropdown-item" style="color: white; cursor: pointer"
                i18n="@@n24">Review of Dataman Financial Claims
              </a>
            </div>
          </li>
          <li class="nav-item dropdown" style="list-style-type: none;">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: #253d84 !important; cursor: pointer">
              {{ username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a routerLink="/profileLog" class="dropdown-item" style="color: white; cursor: pointer"
                i18n="@@Profile">Profile</a>
              <a class="dropdown-item" (click)="logout()" style="color: white; cursor: pointer"
                i18n="@@jflogout">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- End of Header -->
<main id="main">
  <section class="payment" id="payment">
    <div class="card">
      <!-- ======= Services Section ======= -->
      <div class="container" style="padding-bottom: 2%">
        <div class="d-flex justify-content-end">
          <button printSectionId="main" [useExistingCss]="true" ngxPrint type="button"
            style="border: 1px solid transparent; background: transparent">
            <i style="
                font-size: 30px;
                color: #419641;
                cursor: pointer;
                margin-top: 25px;
                float: right;
              " id="print" class="fa fa-print" aria-hidden="true"></i>
          </button>
        </div>
        <div class="section-title">
          <span i18n="@@finalclmrv1">CLAIMS FOR SERVICES</span>
          <h2 i18n="@@finalclmrv1">CLAIMS FOR SERVICES</h2>
        </div>`
        <form style="padding: 10px" [formGroup]="selectGroup">
          <div>
            <div class="card-title d-flex">
              <img src="../../../assets/img/DBKL.png" height="50" alt="" />
              <h5 class="ml-2 mt-1" i18n="@@fcv">
                REVIEW OF MANAGEMENT SERVICES CLAIMS SOLID WASTE AND PUBLIC
                MANAGEMENT
              </h5>
            </div>
            <div class="row">
              <p class="text-danger" i18n="@@forminfo-1" style="padding: 18px">
                *Please fill in and make sure the information that has been
                filled in the relevant fields is correct
              </p>
            </div>
            <div class="row">
              <div class="input-width col-sm-3">
                <label class="linerr" for="textInput" i18n="@@finalclmrA1">No Invoices :</label>
              </div>
              <div class="col-sm-9">
                <input type="text" readonly id="textInput" style="width: 350px;" [(ngModel)]="no_nbois"
                  [ngModelOptions]="{ standalone: true }" class="form-control mb-4" />
              </div>
              <div class="col-sm-3">
                <label class="linerr" for="textInput" i18n="@@finalclmrA2">Contractor :</label>
              </div>
              <div class="col-sm-9">
                <input type="text" readonly id="textInput" [(ngModel)]="kontraktor" style="width: 350px;"
                  [ngModelOptions]="{ standalone: true }" class="form-control mb-4" />
              </div>
              <div class="col-sm-3">
                <label class="linerr" for="passwdInput" i18n="@@fcmail">E-mail :</label>
              </div>
              <div class="col-sm-9">
                <input type="text" readonly id="passwdInput" style="width: 350px;" [(ngModel)]="e_mei"
                  [ngModelOptions]="{ standalone: true }" class="form-control mb-4" />
              </div>
              <div class="col-sm-3">
                <label class="linerr" for="passwdInput" i18n="@@finalclmrA4">Name of applicant :</label>
              </div>
              <div class="col-sm-9">
                <input type="text" readonly style="width: 350px;" id="passwdInput" [(ngModel)]="nama_pemohon"
                  [ngModelOptions]="{ standalone: true }" class="form-control mb-4" />
              </div>
              <div class="col-sm-3">
                <label class="linerr" for="textInput" i18n="@@finalclmrA5">Claim Amount :</label>
              </div>
              <div class="col-sm-9">
                <input type="text" style="width: 350px;" readonly id="textInput" value="{{ jumlah_tuntutan | currency: 'RM ' }}" class="form-control mb-4" />
              </div>
            </div>
            <div class="scrollit">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" colspan="2" i18n="@@finalclmr15">
                      Please upload documents as follows :
                    </th>
                    <th scope="col" i18n="@@flsts">Status</th>
                    <th scope="col" i18n="@@finalclmr4">Guard Comments</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Inbois</th>
                    <td>
                      <div *ngIf="pdf3.length != 0;else nofile">
                        <label for="file" class="btn-2 d-inline">
                          <span *ngFor="let key of pdf3; index as i">
                            <a style="cursor: pointer; color: red !important" (click)="getPdf(key)" target="_blank"
                              i18n="@@finalclmr10">{{ key }}
                            </a>
                            <br />
                          </span>
                          <br />
                        </label>
                        <span class="d-block"></span>
                      </div>
                      <ng-template #nofile>Tiada Dokumen Disediakan</ng-template>
                    </td>
                    <td rowspan="5">
                      <select class="browser-default custom-select mb-4" id="select" (change)="getSelected($event)"
                        [ngClass]="{
                          'is-invalid': submitted && f.status.errors
                        }" formControlName="status">
                        <option value="" disabled="" selected="" i18n="@@finalclmr5">
                          Choose your option
                        </option>
                        <option i18n="@@finalclmr6">
                          The document has been sent to the payment unit
                        </option>
                        <option i18n="@@finalclmr7">
                          The document is being reviewed
                        </option>
                        <option i18n="@@finalclmr8">
                          Documents need to be updated
                        </option>
                      </select>
                      <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                        <div *ngIf="f.status.errors.required" i18n="@@Valtrans1">
                          Please fill this required field.
                        </div>
                      </div>
                    </td>
                    <td rowspan="5">
                      <textarea type="text" style="height: 33vh; width: 150px;" minlength="50" id="textInput"
                        class="form-control mb-4" name="ulasan_pegawai" formControlName="comment"
                        [(ngModel)]="ulasan_pegawai" [ngClass]="{
                          'is-invalid': submitted && f.comment.errors
                        }"></textarea>
                      <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
                        <div *ngIf="f.comment.errors.required" i18n="@@Valtrans1">
                          Please fill this required field.
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" i18n="@@finalclmr9">
                      Report Summary (Please specify area, service and cost of
                      service)
                    </th>
                    <td>
                      <div *ngIf="pdf1.length != 0;else noringkasan">
                        <label for="file" class="btn-2 d-inline">
                          <span *ngFor="let key of pdf1; index as i">
                            <a style="cursor: pointer; color: red !important" (click)="getPdf(key)" target="_blank"
                              i18n="@@finalclmr10">{{ key }}</a>
                          </span>
                          <br />
                        </label>
                        <span class="d-block"></span>
                      </div>
                      <ng-template #noringkasan>Tiada Dokumen Disediakan</ng-template>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" i18n="@@finalclmr11">Attachment</th>
                    <td>
                      <div *ngIf="pdf2.length != 0; else noattachment">
                        <label for="file" class="btn-2 d-inline"><span *ngFor="let key of pdf2; index as i">
                          <a style="cursor: pointer; color: red !important" (click)="getPdf(key)" target="_blank"
                            i18n="@@finalclmr10">{{ key }}</a><br /> </span><br />
                        </label>
                        <span class="d-block"></span>
                      </div>
                      <ng-template #noattachment>Tiada Dokumen Disediakan</ng-template>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Borang BD44/45 atau bilangan logistik dan pekerja bagi setiap kawasan serahan baru</th>
                    <td>
                      <div *ngIf="bd44;else noBd44">
                        <label for="file" class="btn-2 d-inline">
                          <a 
                            style="cursor: pointer; color: red !important" 
                            (click)="getPdf(bd44)" 
                            target="_blank"
                            i18n="@@finalclmr10">{{ bd44 }}</a>
                          <br />
                          <br />
                        </label>
                        <span class="d-block"></span> 
                      </div>
                      <ng-template #noBd44>Tiada Dokumen Disediakan</ng-template>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Laporan tuntutan KWPSPPA bagi kawasan baru</th>
                    <td>
                      <div *ngIf="laporanTuntutan;else noLaporanTuntutan">
                        <label for="file" class="btn-2 d-inline">
                          <a 
                            style="cursor: pointer; color: red !important" 
                            (click)="getPdf(laporanTuntutan)" 
                            target="_blank"
                            i18n="@@finalclmr10">{{ laporanTuntutan }}</a>
                          <br />
                          <br />
                        </label>
                        <span class="d-block"></span> 
                      </div>
                      <ng-template #noLaporanTuntutan>Tiada Dokumen Disediakan</ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="btn-row d-flex justify-content-center">
              <button class="look_for" (click)="updateInvoice()" i18n="@@submit">
                Submit
              </button>
              <button class="look_for_red" routerLink="/dbkl/claim-review" i18n="@@comeback">
                Back
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Services Section -->
    </div>
  </section>
</main>

<!-- ======= Footer ======= -->
<app-footer></app-footer>

<a (click)="backtotop()" class="back-to-top" style="cursor: pointer;display:none;"><i
    class="icofont-scroll-double-up"></i></a>