<!-- Carousel Mode -->
<div *ngIf="presentationMode === 'carousel'" class="row gy-4" data-aos="fade-up" data-aos-delay="400">
  <swiper-container
    init="false"
    [attr.slides-per-view]="slidesPerView"
    [attr.space-between]="spaceeBetween"
    navigation="true"
    pagination="true"
    autoplay-delay="3000"
    autoplay-disable-on-interaction="false"
    loop="true"
    class="mySwiper statistics-swiper"
  >
    <swiper-slide *ngFor="let stat of statistics">
      <div class="col-lg-12">
        <div class="stats-item">
          <div class="stats-icon-wrapper">
            <i [class]="stat.icon"></i>
          </div>
          <div class="stats-content">
            <span
              data-purecounter-start="0"
              [attr.data-purecounter-end]="stat.count"
              [attr.data-purecounter-duration]="stat.duration"
              class="purecounter"
            >{{stat.count}}</span>
            <p><strong>{{stat.label}}</strong></p>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>

<!-- Tiles Mode -->
<div *ngIf="presentationMode === 'tiles'" class="row gy-4" data-aos="fade-up" data-aos-delay="400">
  <div class="col-lg-3 col-md-6" *ngFor="let stat of statistics">
    <div class="stats-item">
      <div class="stats-icon-wrapper">
        <i [class]="stat.icon"></i>
      </div>
      <div class="stats-content">
        <span
          data-purecounter-start="0"
          [attr.data-purecounter-end]="stat.count"
          [attr.data-purecounter-duration]="stat.duration"
          class="purecounter"
        >{{stat.count}}</span>
        <p><strong>{{stat.label}}</strong></p>
      </div>
    </div>
  </div>
</div>
