.look_for_red{
    margin-top: 10px;
    margin-right: 10px;
    background-image: -webkit-linear-gradient(top, #d9534f 0, #c12e2a 100%);
    /* background: #253d84; */
    border: 0;
    padding: 10px 20px;
    color: #fff;
    transition: 0.4s;
    float: right;
    font-size: 14px;
   
    margin-bottom: 24px;
    border-color: red;
    border-radius: 4px;
    border: 1px solid transparent;
  }
  .look_for_red:hover {
    background: #d9534f;
  }