<app-rating></app-rating>
<!-- <app-topbar></app-topbar> -->

<!-- ======= Header ======= -->
<!-- <div
  class="container-fluid sticky-nav"
  id=""
  style="background-color: #f2f2f2 !important"
>
  <div class="container-fluid" ngStickyNav>
    <nav class="navbar navbar-expand-lg">
      <a routerLink="/public" class="navbar-brand">
        <img src="assets/img/DBKL LOGO (Lorry).png" alt="" loading="lazy" />
      </a>

      <button
        class="navbar-toggler border-white"
        type="button"
        style="
          background-color: black !important;
          border: 1px solid white !important;
        "
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars text-white"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a
              routerLink="/public"
              class="nav-link"
              style="color: #253d84 !important; cursor: pointer"
              i18n="@@home"
              >HOME</a
            >
          </li>
          <li class="nav-item">
            <a
              routerLink="/public/sevices"
              class="nav-link"
              style="color: #253d84 !important; cursor: pointer"
              i18n="@@listofser"
              >LIST OF SERVICES</a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="color: #253d84 !important; cursor: pointer"
            >
              {{ username }}
            </a>
            <div class="dropdown-menu">
              <a
                routerLink="/profileLog"
                class="dropdown-item"
                style="cursor: pointer"
                i18n="@@Profile"
                >Profile</a
              >
              <a
                class="dropdown-item"
                style="cursor: pointer"
                data-toggle="modal"
                data-target="#centralModalDanger"
                class="dropdown-item"
                i18n="@@jflogout"
                >Logout</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div> -->
<!-- End Header -->
<app-navbar></app-navbar>

<main id="main">
  <section class="inner-page">
    <div class="card">
      <div class="text-center">
        <div class="section-title">
          <!-- <span i18n="@@rea">Review of Existing Applications</span> -->
          <h2 i18n="@@rea">Review of Existing Applications</h2>
        </div>
      </div>
      <div class="col text-danger">
        <p class="font-weight-bold" i18n="@@publicattention">ATTENTION :</p>
      </div>
      <div class="col-md-12 mb-3 text-dark" i18n="@@tcaapwt">
        The completed area application process will take a maximum of 6 months
        from the date of application.
      </div>
      <div class="col-md-12 mb-3 text-dark" i18n="@@ocawbp">
        Only complete applications will be processed.
      </div>

      <div class="col-12 d-flex justify-content-between">
        <button
          class="addNewRow"
          (click)="deleteChecked()"
          style="
            padding-left: 0.5px;
            padding-right: 0.5px;
            background-image: -webkit-linear-gradient(
              top,
              #d9534f 0,
              #c12e2a 100%
            );
            margin-bottom: 0.3rem;
            width: 2.5em;
            border-radius: 50% !important;
            border: none;
          "
          class="btn btn-danger"
        >
          <i
            class="fa fa-trash"
            style="font-size: 18px"
            aria-hidden="true "
          ></i>
        </button>
      </div>

      <div class="col-12" style="overflow-x: scroll">
        <p-table
          #dt
          [value]="applicationList"
          dataKey="application_id"
          [paginator]="true"
          [rows]="10"
          [rowsPerPageOptions]="[5, 10, 25, 50]"
          [selectionMode]="'multiple'"
          [(selection)]="selectedRows"
          (selectionChange)="onSelectionChange($event)"
          styleClass="p-datatable-responsive-demo"
          [globalFilterFields]="['no_siri_permohonan', 'tarikh_permohonan']"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th>NO SIRI PERMOHONAN</th>
              <th>TARIKH PERMOHONAN</th>
              <th>STATUS DOKUMEN PERMOHONAN</th>
              <th>TETAPAN LAWATAN TAPAK</th>
              <th>KEPUTUSAN LAWATAN TAPAK</th>
              <th>MAKLUMBALAS KETIDAKPATUHAN</th>
              <th>KEPUTUSAN PERMOHONAN</th>
              <th>CATATAN</th>
            </tr>
            <tr>
              <th></th>
              <th>
                <p-columnFilter type="text" field="no_siri_permohonan">
                  <ng-template pTemplate="filter" let-filter="filterCallback">
                    <input
                      type="text"
                      pInputText
                      [(ngModel)]="siriFilter"
                      (input)="onFilterSiri($event.target.value)"
                      placeholder="Search by ID"
                      class="p-column-filter w-100"
                    />
                  </ng-template>
                </p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="date" field="tarikh_permohonan">
                  <ng-template pTemplate="filter" let-filter="filterCallback">
                    <div class="p-fluid">
                      <p-calendar
                        [(ngModel)]="dateFilter"
                        [showButtonBar]="true"
                        [showIcon]="true"
                        [readonlyInput]="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [yearRange]="yearRange"
                        (onSelect)="onFilterDate($event)"
                        (onClear)="onFilterDate(null)"
                        [dateFormat]="'dd/mm/yy'"
                        [style]="{ width: '100%' }"
                        styleClass="date-filter-calendar"
                        placeholder="Filter by date"
                        appendTo="body"
                      >
                      </p-calendar>
                    </div>
                  </ng-template>
                </p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="boolean" field="status_semakan_dokumen">
                  <ng-template pTemplate="filter" let-filter="filterCallback">
                    <p-dropdown
                      [(ngModel)]="statusFilter"
                      [options]="statusOptions"
                      (onChange)="onFilterStatus($event.value)"
                      placeholder="Filter by status"
                      [showClear]="true"
                      appendTo="body"
                      [style]="{ width: '100%' }"
                      styleClass="status-filter-dropdown"
                    >
                      <ng-template let-option pTemplate="item">
                        {{ option.label }}
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData">
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td>{{ rowData.no_siri_permohonan }}</td>
              <td>{{ rowData.tarikh_permohonan | date : "dd.MM.yy" }}</td>
              <!-- status dokumen permohonan -->
              <td>
                {{
                  rowData.status_semakan_dokumen ? "Lengkap" : "Tidak Lengkap"
                }}
                <br />
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="fa fa-edit"
                  class="p-button-rounded p-button-text"
                  (click)="routeToDocumentChecklist(rowData)"
                ></button>
              </td>
              <!-- tetapan lawatan tapak -->
              <td>
                Tarikh:
                {{
                  rowData.site_visit_info.tarikh_datetime ||
                    rowData.site_visit_info.tarikh | date : "dd.MM.yy"
                }}
                <br />
                Masa:
                {{
                  rowData.site_visit_info.tarikh_datetime ||
                    rowData.site_visit_info.tarikh | date : "HH:mm"
                }}
                <div
                  *ngIf="rowData.site_visit_info.tetapan_lawatan_tapak_filename"
                >
                  Fail:
                  <a
                    href="javascript:void(0)"
                    (click)="
                      handleFileClick(
                        rowData.site_visit_info.tetapan_lawatan_tapak_filename
                      )
                    "
                  >
                    {{ rowData.site_visit_info.tetapan_lawatan_tapak_filename }}
                  </a>
                </div>
              </td>
              <!-- <td>
                {{ rowData.mesyuarat_permohanan_serahan_kawasan || "N/A" }}
              </td> -->
              <!-- <td>
                <div
                  *ngIf="
                    rowData.maklumat_lawatan_tapak_id !== null;
                    else noData
                  "
                >
                  <a
                    [routerLink]="[
                      '/' +
                        lang +
                        '/public/maklumat/' +
                        rowData.maklumat_lawatan_tapak_id
                    ]"
                  >
                    Papar Maklumat
                  </a>
                </div>
                <ng-template #noData>
                  <p>-</p>
                </ng-template>
              </td> -->
              <!-- keputusan lawatan tapak -->
              <td>
                {{ rowData.site_visit_info.keputusan_lawatan_tapak || "N/A" }}
                <div
                  *ngIf="
                    rowData.site_visit_info.keputusan_lawatan_tapak_filename
                  "
                >
                  Fail:
                  <a
                    href="javascript:void(0)"
                    (click)="
                      handleFileClick(
                        rowData.site_visit_info.keputusan_lawatan_tapak_filename
                      )
                    "
                  >
                    {{
                      rowData.site_visit_info.keputusan_lawatan_tapak_filename
                    }}
                  </a>
                </div>
              </td>
              <!-- <td>{{ rowData.status_Lawatan_Tapak || "N/A" }}</td> -->
              <!-- maklumbalas ketidakpatuhan -->
              <td>
                <!-- <app-dbklppsppa
                    [value]="rowData.no_siri_permohonan"
                    [getData]="data"
                  ></app-dbklppsppa> -->
                {{
                  rowData.site_visit_info.status_maklumbalas_ketidakpatuhan ||
                    "N/A"
                }}
                <div
                  *ngIf="
                    rowData.site_visit_info.maklumbalas_ketidakpatuhan_filename
                  "
                >
                  Fail:
                  <a
                    href="javascript:void(0)"
                    (click)="
                      handleFileClick(
                        rowData.site_visit_info
                          .maklumbalas_ketidakpatuhan_filename
                      )
                    "
                  >
                    {{
                      rowData.site_visit_info
                        .maklumbalas_ketidakpatuhan_filename
                    }}
                  </a>
                </div>
                <br />
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="fa fa-upload"
                  class="p-button-rounded p-button-text p-button-sm"
                  (click)="
                    openUploadDialog('maklumbalas_ketidakpatuhan', rowData)
                  "
                  title="Upload File"
                ></button>
              </td>
              <!-- <td>
                <app-showpdf
                  [value]="rowData.no_siri_permohonan"
                  [getData]="applicationList"
                ></app-showpdf>
              </td> -->
              <td>
                {{ rowData.status_keputusan_permohonan }}
                <br />
                {{
                  rowData.tarikh_keputusan_permohonan
                    ? (rowData.status_keputusan_permohonan === "Lulus"
                        ? "Tarikh Serahan: "
                        : "") +
                      (rowData.tarikh_keputusan_permohonan | date : "dd.MM.yy")
                    : "N/A"
                }}
                <div *ngIf="rowData.filename_keputusan_permohonan">
                  Fail:
                  <a
                    href="javascript:void(0)"
                    (click)="
                      handleFileClick(rowData.filename_keputusan_permohonan)
                    "
                  >
                    {{ rowData.filename_keputusan_permohonan }}
                  </a>
                </div>
              </td>
              <td>
                {{ rowData.catatan || "" }}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="9" class="text-center">Tiada Data Dijumpai</td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div>
        <button
          (click)="cancel()"
          style="margin-right: 30px"
          class="look_for_red"
          type="button"
          i18n="@@n74"
        >
          Back
        </button>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<app-footer-v2></app-footer-v2>
<a
  (click)="backtotop()"
  class="back-to-top"
  style="cursor: pointer; display: none"
  ><i class="icofont-scroll-double-up"></i
></a>
<!--adding modal-->
<div
  class="modal"
  id="staticBackdrop"
  data-backdrop="static"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: display }"
  aria-labelledby=" staticBackdropLabel "
  aria-hidden="true "
>
  <div class="modal-dialog modal-dialog-centered" role="document ">
    <div class="modal-content">
      <div
        class="modal-header d-flex justify-content-center"
        style="
          border-bottom: 0px solid transparent !important;
          padding-bottom: 0px !important;
        "
      >
        <i
          class="fa fa-exclamation-circle"
          style="font-size: 4em; color: #253d84"
          aria-hidden="true"
        ></i>
      </div>
      <div class="modal-body">
        <h5 class="text-center" i18n="@@delete1">
          Please Select Item to Delete.
        </h5>
        <div class="d-flex justify-content-center">
          <button
            type="button"
            class="btn"
            style="background-color: #253d84; color: white; border-radius: 0%"
            (click)="closeModal()"
            i18n="@@ok1"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="staticBackdrop"
  data-backdrop="static"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: display2 }"
  aria-labelledby=" staticBackdropLabel "
  aria-hidden="true "
>
  <div class="modal-dialog modal-dialog-centered" role="document ">
    <div class="modal-content">
      <div
        class="modal-header d-flex justify-content-center"
        style="
          border-bottom: 0px solid transparent !important;
          padding-bottom: 0px !important;
        "
      >
        <i
          class="fa fa-exclamation-circle"
          style="font-size: 4em; color: #253d84"
          aria-hidden="true"
        ></i>
      </div>
      <div class="modal-body">
        <h5 class="text-center" i18n="@@delete">Do you want to Delete !</h5>
        <div class="d-flex justify-content-center">
          <button
            type="button"
            class="btn"
            style="background-color: #253d84; color: white; margin-right: 10px"
            (click)="deleteSelected()"
            i18n="@@yes"
          >
            YES
          </button>
          <button
            type="button"
            class="btn"
            style="background-color: #253d84; color: white"
            (click)="closeModalDelete()"
            i18n="@@no"
          >
            NO
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Success Modal -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  data-backdrop="static"
  style="background: #02020259; display: block"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
  [ngStyle]="{ display: displaysuccess }"
>
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div
          class="swal2-icon swal2-success swal2-animate-success-icon"
          style="display: flex"
        >
          <div
            class="swal2-success-circular-line-left"
            style="background-color: rgb(255, 255, 255)"
          ></div>
          <span class="swal2-success-line-tip"></span>
          <span class="swal2-success-line-long"></span>
          <div class="swal2-success-ring"></div>
          <div
            class="swal2-success-fix"
            style="background-color: rgb(255, 255, 255)"
          ></div>
          <div
            class="swal2-success-circular-line-right"
            style="background-color: rgb(255, 255, 255)"
          ></div>
        </div>
      </div>
      <div class="modal-body" style="align-self: center">
        <h4 class="text-center">
          {{ sucessMsg }}
        </h4>

        <div class="d-flex justify-content-center">
          <button
            type="button"
            style="margin-top: 15px !important"
            class="look_for"
            (click)="closeSuccess()"
            i18n="@@ok1"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Error Modal -->
<div
  class="modal"
  tabindex="-1"
  style="background: #02020259; display: block"
  role="dialog"
  [ngStyle]="{ display: errorDisplay1 }"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div
          class="swal2-icon swal2-error swal2-animate-error-icon"
          style="display: flex"
        >
          <span class="swal2-x-mark"
            ><span class="swal2-x-mark-line-left"></span
            ><span class="swal2-x-mark-line-right"></span
          ></span>
        </div>
      </div>
      <div class="modal-body" style="align-self: center">
        <h4 class="text-center">{{ errmsg }}</h4>
        <div class="d-flex justify-content-center">
          <button
            type="button"
            data-dismiss="modal"
            class="look_for_red"
            (click)="closeError()"
            i18n="@@okERR"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Site Visit File Upload Dialog -->
<p-dialog
  header="Muat Naik Fail {{ uploadSiteVisitData.title }}"
  [(visible)]="showUploadDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '450px', minHeight: '400px' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="p-fluid">
    <div class="field">
      <label class="p-text-secondary">No. Siri Permohonan:</label>
      <span class="p-text-bold">{{
        uploadSiteVisitData.no_siri_permohonan
      }}</span>
    </div>
    <div class="field">
      <label class="p-label">Fail {{ uploadSiteVisitData.title }}</label>
      <div class="p-fileupload-wrapper">
        <div class="p-fileupload-choose">
          <input
            type="file"
            ng2FileSelect
            [uploader]="uploader"
            (change)="onFileSelect($event, uploader)"
            style="display: none"
            #fileInputUpload
          />
          <p-button
            label="Pilih Fail"
            icon="pi pi-upload"
            severity="secondary"
            (click)="fileInputUpload.click()"
            type="button"
            styleClass="p-button-sm"
          ></p-button>
        </div>
        <small class="p-text-secondary p-d-block p-mt-2">
          Format yang disokong: PDF (Saiz maksimum: 10MB)
        </small>
      </div>

      <!-- File List -->
      <div *ngIf="uploader.queue.length > 0" class="p-mt-3">
        <div
          *ngFor="let item of uploader.queue"
          class="p-d-flex p-ai-center p-jc-between p-p-2 p-border-1 p-border-round p-mb-2"
        >
          <div class="p-d-flex p-ai-center">
            <i class="pi pi-file-pdf p-mr-2 p-text-secondary"></i>
            <span class="p-text-sm">
              {{ item.file.name }} ({{ (item.file.size / 1000000).toFixed(2) }}
              MB)
            </span>
          </div>
          <p-button
            icon="pi pi-times"
            severity="danger"
            size="small"
            [text]="true"
            (click)="removeFile(item)"
            pTooltip="Buang fail"
          ></p-button>
        </div>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Batal"
      icon="pi pi-times"
      class="p-button-text"
      (click)="closeUploadDialog()"
    ></button>
    <button
      pButton
      type="button"
      label="Muat Naik"
      icon="pi pi-upload"
      class="p-button-primary"
      (click)="uploadSiteVisitFile()"
      [disabled]="uploader.queue.length === 0"
    ></button>
  </ng-template>
</p-dialog>