<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#253d84"
  type="ball-clip-rotate-multiple"
  [fullScreen]="true"
>
</ngx-spinner>
<!-- Topbar -->
<app-topbar></app-topbar>
<!-- End of Topbar -->
<!-- Header -->
<div class="container-fluid sticky-nav" id="" style="background-color: #f2f2f2">
  <div class="container-fluid" ngStickyNav>
    <nav class="navbar navbar-expand-lg">
      <a routerLink="/public" class="navbar-brand">
        <img src="assets/img/DBKL LOGO (Lorry).png" alt="" loading="lazy" />
      </a>

      <button
        class="navbar-toggler border-white"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul
          *ngIf="isAdminType == 'admincounter'"
          class="navbar-nav ml-auto mt-2 mt-lg-0"
        >
          <li class="nav-item" style="list-style-type: none">
            <a
              routerLink="/dbkl/dbklmainpage"
              class="nav-link"
              style="color: #253d84 !important; cursor: pointer"
              i18n="@@home"
              >HOME</a
            >
          </li>
          <li class="nav-item dropdown" id="user" style="list-style-type: none">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="color: #253d84 !important; cursor: pointer"
              i18n="@@n29"
            >
              ADMIN-COUNTER
            </a>

            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                routerLink="/dbkl/dbkldata"
                style="color: white; cursor: pointer"
                i18n="@@n1"
                >Main Page</a
              >
              <a
                routerLink="/dbkl/usermanagement"
                class="dropdown-item"
                style="color: white; cursor: pointer"
                i18n="@@n2"
                >User Management</a
              >
              <a
                routerLink="/dbkl/applicationprocess"
                class="dropdown-item"
                style="color: white; cursor: pointer"
                i18n="@@mainppss"
                >Review of PPSPPA APPLICATION</a
              >
              <a
                routerLink="/dbkl/inventorymanage"
                class="dropdown-item"
                style="color: white; cursor: pointer"
                i18n="@@n4"
                >Inventory Management</a
              >
              <a
                routerLink="/dbkl/emeeting"
                class="dropdown-item"
                style="color: white; cursor: pointer"
                i18n="@@n5"
                >E-Meeting</a
              >
            </div>
          </li>
          <li class="nav-item dropdown" style="list-style-type: none">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="color: #253d84 !important; cursor: pointer"
            >
              {{ username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a
                routerLink="/profileLog"
                class="dropdown-item"
                style="color: white; cursor: pointer"
                i18n="@@Profile"
                >Profile</a
              >
              <a
                class="dropdown-item"
                (click)="logout()"
                style="color: white; cursor: pointer"
                i18n="@@jflogout"
                >Logout</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- End of Header -->

<main>
  <section class="meting" id="meting">
    <div class="card">
      <!-- ======= Services Section ======= -->
      <div class="section-title">
        <!-- <span i18n="@@applicationprocess"
          >Review Application</span
        > -->
        <h2 i18n="@@applicationprocess">Review Application</h2>
      </div>
      <div class="col-12 d-flex justify-content-between">
        <button
          class="addNewRow"
          (click)="deleteChecked()"
          style="
            padding-left: 0.5px;
            padding-right: 0.5px;
            background-image: -webkit-linear-gradient(
              top,
              #d9534f 0,
              #c12e2a 100%
            );
            margin-bottom: 0.3rem;
            width: 2.5em;
            border-radius: 50% !important;
            border: none;
          "
          class="btn btn-danger"
        >
          <i
            class="fa fa-trash"
            style="font-size: 18px"
            aria-hidden="true "
          ></i>
        </button>
      </div>
      <div class="container-fluid row input d-flex justify-content-center">
        <div class="col-12" style="overflow-x: scroll">
          <!-- <ng2-smart-table [settings]="settings" [source]="data" (custom)="onCustomEvent($event)"
            (userRowSelect)="onSelectionChange($event)">
          </ng2-smart-table> -->
          <p-table
            #dt
            [value]="data"
            dataKey="application_id"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[5, 10, 25, 50]"
            [selectionMode]="'multiple'"
            [(selection)]="selectedRows"
            (selectionChange)="onSelectionChange($event)"
            styleClass="p-datatable-responsive-demo"
            [globalFilterFields]="['no_siri_permohonan', 'tarikh_permohonan']"
          >
            <!-- <ng-template pTemplate="caption">
              <div class="table-header d-flex justify-content-end">
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search..."
                  />
                </span>
              </div>
            </ng-template> -->
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>NO SIRI PERMOHONAN</th>
                <th>TARIKH PERMOHONAN</th>
                <th>STATUS DOKUMEN PERMOHONAN</th>
                <th>TETAPAN LAWATAN TAPAK</th>
                <!-- <th>E-MESYUARAT</th> -->
                <th>KEPUTUSAN LAWATAN TAPAK</th>
                <th>MAKLUMBALAS KETIDAKPATUHAN</th>
                <!-- <th>SENARAI KAWASAN - RIC/SLC</th>
                <th>MINIT MESYUARAT RIC/SLC</th> -->
                <th>KEPUTUSAN PERMOHONAN</th>
                <th>CATATAN</th>
                <!-- <th style="width: 8rem">TINDAKAN</th> -->
              </tr>
              <tr>
                <th></th>
                <th>
                  <p-columnFilter type="text" field="no_siri_permohonan">
                    <ng-template pTemplate="filter" let-filter="filterCallback">
                      <input
                        type="text"
                        pInputText
                        [(ngModel)]="siriFilter"
                        (input)="onFilterSiri($event.target.value)"
                        placeholder="Search by ID"
                        class="p-column-filter w-100"
                      />
                    </ng-template>
                  </p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="date" field="tarikh_permohonan">
                    <ng-template pTemplate="filter" let-filter="filterCallback">
                      <div class="p-fluid">
                        <p-calendar
                          [(ngModel)]="dateFilter"
                          [showButtonBar]="true"
                          [showIcon]="true"
                          [readonlyInput]="true"
                          [monthNavigator]="true"
                          [yearNavigator]="true"
                          [yearRange]="yearRange"
                          (onSelect)="onFilterDate($event)"
                          (onClear)="onFilterDate(null)"
                          [dateFormat]="'dd/mm/yy'"
                          [style]="{ width: '100%' }"
                          styleClass="date-filter-calendar"
                          placeholder="Filter by date"
                          appendTo="body"
                        >
                        </p-calendar>
                      </div>
                    </ng-template>
                  </p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="boolean" field="status_semakan_dokumen">
                    <ng-template pTemplate="filter" let-filter="filterCallback">
                      <p-dropdown
                        [(ngModel)]="statusFilter"
                        [options]="statusOptions"
                        (onChange)="onFilterStatus($event.value)"
                        placeholder="Filter by status"
                        [showClear]="true"
                        appendTo="body"
                        [style]="{ width: '100%' }"
                        styleClass="status-filter-dropdown"
                      >
                        <ng-template let-option pTemplate="item">
                          {{ option.label }}
                        </ng-template>
                      </p-dropdown>
                    </ng-template>
                  </p-columnFilter>
                </th>
                <th></th>
                <th>
                  <!-- Add filter for Tetapan Lawatan Tapak -->
                  <p-columnFilter
                    type="boolean"
                    field="site_visit_info.keputusan_lawatan_tapak"
                  >
                    <ng-template pTemplate="filter" let-filter="filterCallback">
                      <p-dropdown
                        [(ngModel)]="lawatanFilter"
                        [options]="lawatanOptions"
                        (onChange)="onFilterLawatan($event.value)"
                        placeholder="Filter status"
                        [showClear]="true"
                        appendTo="body"
                        [style]="{ width: '100%' }"
                        styleClass="lawatan-filter-dropdown"
                      >
                        <ng-template let-option pTemplate="item">
                          {{ option.label }}
                        </ng-template>
                      </p-dropdown>
                    </ng-template>
                  </p-columnFilter>
                </th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
              <tr [pSelectableRow]="rowData">
                <td>
                  <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td>{{ rowData.no_siri_permohonan }}</td>
                <td>{{ rowData.tarikh_permohonan | date : "dd MMM yyyy" }}</td>
                <td>
                  {{
                    rowData.status_semakan_dokumen ? "Lengkap" : "Tidak Lengkap"
                  }}
                  <br />
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="fa fa-edit"
                    class="p-button-rounded p-button-text"
                    (click)="routeToUpdateApplicationForm(rowData)"
                  ></button>
                </td>
                <td>
                  <!-- <app-meetingmodal
                    [value]="rowData.no_siri_permohonan"
                    [getMeetingData]="meetingData"
                  ></app-meetingmodal> -->
                  Tarikh:
                  {{
                    rowData.site_visit_info.tarikh_datetime ||
                      rowData.site_visit_info.tarikh | date : "dd MMM yyyy"
                  }}
                  <br />
                  Masa:
                  {{
                    rowData.site_visit_info.tarikh_datetime ||
                      rowData.site_visit_info.tarikh | date : "HH:mm"
                  }}
                  <div
                    *ngIf="
                      rowData.site_visit_info.tetapan_lawatan_tapak_filename
                    "
                  >
                    Fail:
                    <a
                      href="javascript:void(0)"
                      (click)="
                        handleFileClick(
                          rowData.site_visit_info.tetapan_lawatan_tapak_filename
                        )
                      "
                    >
                      {{
                        rowData.site_visit_info.tetapan_lawatan_tapak_filename
                      }}
                    </a>
                  </div>
                  <br />
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="fa fa-edit"
                    class="p-button-rounded p-button-text p-button-sm"
                    (click)="
                      openSiteVisitEditDialog('tetapan_lawatan_tapak', rowData)
                    "
                    title="Edit Site Visit Date/Time"
                  ></button>
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="fa fa-upload"
                    class="p-button-rounded p-button-text p-button-sm"
                    (click)="openUploadDialog('tetapan_lawatan_tapak', rowData)"
                    title="Upload Site Visit File"
                  ></button>
                </td>
                <td>
                  <!-- <a
                    [routerLink]="['dbkl/dbklsitevisit']"
                    [queryParams]="{ id: rowData.no_siri_permohonan }"
                    >Kemaskini Maklumat</a
                  > -->
                  {{ rowData.site_visit_info.keputusan_lawatan_tapak || "N/A" }}
                  <div
                    *ngIf="
                      rowData.site_visit_info.keputusan_lawatan_tapak_filename
                    "
                  >
                    Fail:
                    <a
                      href="javascript:void(0)"
                      (click)="
                        handleFileClick(
                          rowData.site_visit_info
                            .keputusan_lawatan_tapak_filename
                        )
                      "
                    >
                      {{
                        rowData.site_visit_info.keputusan_lawatan_tapak_filename
                      }}
                    </a>
                  </div>
                  <br />
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="fa fa-edit"
                    class="p-button-rounded p-button-text p-button-sm"
                    (click)="
                      openSiteVisitEditDialog(
                        'keputusan_lawatan_tapak',
                        rowData
                      )
                    "
                    title="Edit Site Visit Detail"
                  ></button>
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="fa fa-upload"
                    class="p-button-rounded p-button-text p-button-sm"
                    (click)="
                      openUploadDialog('keputusan_lawatan_tapak', rowData)
                    "
                    title="Upload Site Visit File"
                  ></button>
                </td>
                <td>
                  <!-- <app-dbklppsppa
                    [value]="rowData.no_siri_permohonan"
                    [getData]="data"
                  ></app-dbklppsppa> -->
                  {{
                    rowData.site_visit_info.status_maklumbalas_ketidakpatuhan ||
                      "N/A"
                  }}
                  <div
                    *ngIf="
                      rowData.site_visit_info
                        .maklumbalas_ketidakpatuhan_filename
                    "
                  >
                    Fail:
                    <a
                      href="javascript:void(0)"
                      (click)="
                        handleFileClick(
                          rowData.site_visit_info
                            .maklumbalas_ketidakpatuhan_filename
                        )
                      "
                    >
                      {{
                        rowData.site_visit_info
                          .maklumbalas_ketidakpatuhan_filename
                      }}
                    </a>
                  </div>
                  <br />
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="fa fa-edit"
                    class="p-button-rounded p-button-text p-button-sm"
                    (click)="
                      openSiteVisitEditDialog(
                        'maklumbalas_ketidakpatuhan',
                        rowData
                      )
                    "
                    title="Edit Site Detail"
                  ></button>
                </td>
                <td>
                  {{ rowData.status_keputusan_permohonan }}
                  <br />
                  {{
                    rowData.tarikh_keputusan_permohonan
                      ? (rowData.status_keputusan_permohonan === "Lulus"
                          ? "Tarikh Serahan: "
                          : "") +
                        (rowData.tarikh_keputusan_permohonan
                          | date : "dd MMM yyyy")
                      : "N/A"
                  }}
                  <div *ngIf="rowData.filename_keputusan_permohonan">
                    Fail:
                    <a
                      href="javascript:void(0)"
                      (click)="
                        handleFileClick(rowData.filename_keputusan_permohonan)
                      "
                    >
                      {{ rowData.filename_keputusan_permohonan }}
                    </a>
                  </div>
                  <br />
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="fa fa-edit"
                    class="p-button-rounded p-button-text p-button-sm"
                    (click)="
                      openSiteVisitEditDialog('keputusan_permohonan', rowData)
                    "
                    title="Edit Site Visit Detail"
                  ></button>
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="fa fa-upload"
                    class="p-button-rounded p-button-text p-button-sm"
                    (click)="openUploadDialog('keputusan_permohonan', rowData)"
                    title="Upload Site Visit File"
                  ></button>
                </td>
                <td>
                  <textarea
                    class="form-control"
                    rows="3"
                    [(ngModel)]="rowData.catatan"
                    style="resize: none; overflow-y: auto; max-height: 80px"
                    disabled
                  >
                  </textarea>
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="fa fa-edit"
                    class="p-button-rounded p-button-text p-button-sm"
                    (click)="openSiteVisitEditDialog('catatan', rowData)"
                    title="Edit Site Visit Detail"
                  ></button>
                </td>
                <!-- <td>
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="fa fa-edit"
                    class="p-button-rounded p-button-text"
                    (click)="routeToUpdateApplicationForm(rowData)"
                  ></button>
                </td> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="8" class="text-center">Tiada Data Dijumpai</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- ======= Footer ======= -->
<app-footer></app-footer>
<!-- End Footer -->
<a
  (click)="backtotop()"
  class="back-to-top"
  style="cursor: pointer; display: none"
  ><i class="icofont-scroll-double-up"></i
></a>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  data-backdrop="static"
  style="background: #02020259; display: block"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
  [ngStyle]="{ display: displaysuccess }"
>
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div
          class="swal2-icon swal2-success swal2-animate-success-icon"
          style="display: flex"
        >
          <div
            class="swal2-success-circular-line-left"
            style="background-color: rgb(255, 255, 255)"
          ></div>
          <span class="swal2-success-line-tip"></span>
          <span class="swal2-success-line-long"></span>
          <div class="swal2-success-ring"></div>
          <div
            class="swal2-success-fix"
            style="background-color: rgb(255, 255, 255)"
          ></div>
          <div
            class="swal2-success-circular-line-right"
            style="background-color: rgb(255, 255, 255)"
          ></div>
        </div>
      </div>
      <div class="modal-body" style="align-self: center">
        <h4 class="text-center">
          {{ sucessMsg }}
        </h4>

        <div class="d-flex justify-content-center">
          <button
            type="button"
            style="margin-top: 15px !important"
            class="look_for"
            (click)="closeSuccess()"
            i18n="@@ok1"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Error modal -->
<div
  class="modal"
  tabindex="-1"
  style="background: #02020259; display: block"
  role="dialog"
  [ngStyle]="{ display: errorDisplay1 }"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div
          class="swal2-icon swal2-error swal2-animate-error-icon"
          style="display: flex"
        >
          <span class="swal2-x-mark"
            ><span class="swal2-x-mark-line-left"></span
            ><span class="swal2-x-mark-line-right"></span
          ></span>
        </div>
      </div>
      <div class="modal-body" style="align-self: center">
        <h4 class="text-center">{{ errmsg }}</h4>
        <!-- <p class="text-center font-weight-bold">{{ errorMessage }}</p> -->
        <div class="d-flex justify-content-center">
          <button
            type="button"
            data-dismiss="modal"
            class="look_for_red"
            (click)="closeError()"
            i18n="@@okERR"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="staticBackdrop"
  data-backdrop="static"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: display }"
  aria-labelledby=" staticBackdropLabel "
  aria-hidden="true "
>
  <div class="modal-dialog modal-dialog-centered" role="document ">
    <div class="modal-content">
      <div
        class="modal-header d-flex justify-content-center"
        style="
          border-bottom: 0px solid transparent !important;
          padding-bottom: 0px !important;
        "
      >
        <i
          class="fa fa-exclamation-circle"
          style="font-size: 4em; color: #253d84"
          aria-hidden="true"
        ></i>
      </div>
      <div class="modal-body">
        <h5 class="text-center" i18n="@@delete1">
          Please Select Item to Delete.
        </h5>
        <div class="d-flex justify-content-center">
          <button
            type="button"
            class="look_for_red"
            (click)="closeModal()"
            i18n="@@ok1"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="staticBackdrop"
  data-backdrop="static"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: display2 }"
  aria-labelledby=" staticBackdropLabel "
  aria-hidden="true "
>
  <div class="modal-dialog modal-dialog-centered" role="document ">
    <div class="modal-content">
      <div
        class="modal-header d-flex justify-content-center"
        style="
          border-bottom: 0px solid transparent !important;
          padding-bottom: 0px !important;
        "
      >
        <i
          class="fa fa-exclamation-circle"
          style="font-size: 4em !important"
          aria-hidden="true"
        ></i>
      </div>
      <div class="modal-body">
        <h5 class="text-center" i18n="@@delete">
          Do you want to delete permanently?
        </h5>
        <div class="d-flex justify-content-center">
          <button
            type="button"
            class="look_for"
            (click)="deleteSelected()"
            i18n="@@yes"
          >
            YES
          </button>
          <button
            type="button"
            class="look_for_red"
            (click)="closeModalDelete()"
            i18n="@@no"
          >
            NO
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Site Visit Edit Dialog -->
<p-dialog
  header="Kemasikini {{ editSiteVisitData.title || 'Data' }}"
  [(visible)]="showSiteVisitDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '450px', minHeight: '600px' }"
  [draggable]="false"
  [resizable]="false"
>
  <!-- tetapan lawatan tapak -->
  <div
    class="p-fluid"
    *ngIf="editSiteVisitData.type === 'tetapan_lawatan_tapak'"
  >
    <div class="field">
      <label class="p-text-secondary">No. Siri Permohonan:</label>
      <span class="p-text-bold">
        {{ editSiteVisitData.no_siri_permohonan }}</span
      >
    </div>
    <div class="field">
      <label for="siteVisitDate">Date</label>
      <p-calendar
        id="siteVisitDate"
        [(ngModel)]="editSiteVisitData.date"
        [showButtonBar]="true"
        [showIcon]="true"
        [readonlyInput]="true"
        [monthNavigator]="true"
        [yearNavigator]="true"
        [yearRange]="yearRange"
        [dateFormat]="'dd/mm/yy'"
        [style]="{ width: '100%' }"
        placeholder="Select date"
      >
      </p-calendar>
    </div>

    <div class="field">
      <label for="siteVisitTime">Time</label>
      <p-calendar
        id="siteVisitTime"
        [(ngModel)]="editSiteVisitData.time"
        [timeOnly]="true"
        [showTime]="true"
        [showIcon]="true"
        [readonlyInput]="true"
        [style]="{ width: '100%' }"
        placeholder="Select time"
        hourFormat="24"
      >
      </p-calendar>
    </div>
  </div>

  <!-- keputusan lawatan tapak -->
  <div
    class="p-fluid"
    *ngIf="editSiteVisitData.type === 'keputusan_lawatan_tapak'"
  >
    <div class="field">
      <label class="p-text-secondary">No. Siri Permohonan:</label>
      <span class="p-text-bold">
        {{ editSiteVisitData.no_siri_permohonan }}</span
      >
    </div>
    <div class="field">
      <label for="keputusanLawatan">Keputusan Lawatan Tapak</label>
      <p-dropdown
        id="keputusanLawatan"
        [(ngModel)]="editSiteVisitData.keputusan_lawatan_tapak"
        [options]="[
          { label: 'Patuh', value: 'Patuh' },
          { label: 'Tidak Patuh', value: 'Tidak Patuh' }
        ]"
        optionLabel="label"
        optionValue="value"
        placeholder="Pilih keputusan"
        [style]="{ width: '100%' }"
      >
      </p-dropdown>
    </div>
  </div>

  <!-- maklumbalas ketidakpatuhan -->
  <div
    class="p-fluid"
    *ngIf="editSiteVisitData.type === 'maklumbalas_ketidakpatuhan'"
  >
    <div class="field">
      <label class="p-text-secondary">No. Siri Permohonan:</label>
      <span class="p-text-bold">
        {{ editSiteVisitData.no_siri_permohonan }}</span
      >
    </div>
    <div class="field">
      <label for="maklumbalasKetidakpatuhan">Maklumbalas Ketidakpatuhan</label>
      <p-dropdown
        id="maklumbalasKetidakpatuhan"
        [(ngModel)]="editSiteVisitData.status_maklumbalas_ketidakpatuhan"
        [options]="[
          { label: 'Patuh', value: 'Patuh' },
          { label: 'Tidak Patuh', value: 'Tidak Patuh' }
        ]"
        optionLabel="label"
        optionValue="value"
        placeholder="Pilih keputusan"
        [style]="{ width: '100%' }"
      >
      </p-dropdown>
    </div>
  </div>

  <!-- keputusan permohonan -->
  <div
    class="p-fluid"
    *ngIf="editSiteVisitData.type === 'keputusan_permohonan'"
  >
    <div class="field">
      <label class="p-text-secondary">No. Siri Permohonan:</label>
      <span class="p-text-bold">
        {{ editSiteVisitData.no_siri_permohonan }}</span
      >
    </div>
    <div class="field">
      <label for="keputusanPermohonan">Keputusan Permohonan</label>
      <p-dropdown
        id="keputusanPermohonan"
        [(ngModel)]="editSiteVisitData.status_keputusan_permohonan"
        [options]="[
          { label: 'Lulus', value: 'Lulus' },
          { label: 'Tidak Lulus', value: 'Tidak Lulus' }
        ]"
        optionLabel="label"
        optionValue="value"
        placeholder="Pilih keputusan"
        [style]="{ width: '100%' }"
      >
      </p-dropdown>
    </div>
    <div class="field">
      <label for="tarikhKeputusanPermohonan">Tarikh Serahan</label>
      <p-calendar
        id="tarikhKeputusanPermohonan"
        [(ngModel)]="editSiteVisitData.tarikh_keputusan_permohonan"
        [showButtonBar]="true"
        [showIcon]="true"
        [readonlyInput]="true"
        [monthNavigator]="true"
        [yearNavigator]="true"
        [yearRange]="yearRange"
        [dateFormat]="'dd/mm/yy'"
        [style]="{ width: '100%' }"
        placeholder="Select date"
      >
      </p-calendar>
    </div>
  </div>

  <!-- catatan -->
  <div class="p-fluid" *ngIf="editSiteVisitData.type === 'catatan'">
    <div class="field">
      <label for="catatan">Catatan</label>
      <textarea
        id="catatan"
        [(ngModel)]="editSiteVisitData.catatan"
        rows="3"
        class="form-control"
        style="resize: none; overflow-y: auto; max-height: 80px"
      ></textarea>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="closeSiteVisitDialog()"
    ></button>
    <button
      pButton
      type="button"
      label="Save"
      icon="pi pi-check"
      class="p-button-primary"
      (click)="saveSiteVisit()"
    ></button>
  </ng-template>
</p-dialog>

<!-- Site Visit File Upload Dialog -->
<p-dialog
  header="Muat Naik Fail Lawatan Tapak"
  [(visible)]="showUploadDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '450px', minHeight: '400px' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="p-fluid">
    <div class="field">
      <label class="p-text-secondary">No. Siri Permohonan:</label>
      <span class="p-text-bold">{{
        uploadSiteVisitData.no_siri_permohonan
      }}</span>
    </div>
    <div class="field">
      <label class="p-label">Fail PDF Lawatan Tapak</label>
      <div class="p-fileupload-wrapper">
        <div class="p-fileupload-choose">
          <input
            type="file"
            ng2FileSelect
            [uploader]="uploader"
            (change)="onFileSelect($event, uploader)"
            style="display: none"
            #fileInputUpload
          />
          <p-button
            label="Pilih Fail"
            icon="pi pi-upload"
            severity="secondary"
            (click)="fileInputUpload.click()"
            type="button"
            styleClass="p-button-sm"
          ></p-button>
        </div>
        <small class="p-text-secondary p-d-block p-mt-2">
          Format yang disokong: PDF (Saiz maksimum: 10MB)
        </small>
      </div>

      <!-- File List -->
      <div *ngIf="uploader.queue.length > 0" class="p-mt-3">
        <div
          *ngFor="let item of uploader.queue"
          class="p-d-flex p-ai-center p-jc-between p-p-2 p-border-1 p-border-round p-mb-2"
        >
          <div class="p-d-flex p-ai-center">
            <i class="pi pi-file-pdf p-mr-2 p-text-secondary"></i>
            <span class="p-text-sm">
              {{ item.file.name }} ({{ (item.file.size / 1000000).toFixed(2) }}
              MB)
            </span>
          </div>
          <p-button
            icon="pi pi-times"
            severity="danger"
            size="small"
            [text]="true"
            (click)="removeFile(item)"
            pTooltip="Buang fail"
          ></p-button>
        </div>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Batal"
      icon="pi pi-times"
      class="p-button-text"
      (click)="closeUploadDialog()"
    ></button>
    <button
      pButton
      type="button"
      label="Muat Naik"
      icon="pi pi-upload"
      class="p-button-primary"
      (click)="uploadSiteVisitFile()"
      [disabled]="uploader.queue.length === 0"
    ></button>
  </ng-template>
</p-dialog>
