<!-- <app-topbar></app-topbar> -->
<!-- End of Topbar -->
<!-- Header -->
<app-navbar></app-navbar>

<main id="main">
  <!-- ======= Pricing Section ======= -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#253d84"
  type="ball-clip-rotate-multiple"
  [fullScreen]="true"
>
</ngx-spinner>
  <section id="pricing" class="pricing">
    <div class="container">
      <app-statistics
        presentationMode="tiles"
        [useApi]="true"
      >
      </app-statistics>
    </div>
  </section>
  <!-- End Pricing Section -->

 <app-footer-v2></app-footer-v2>
  <!-- End Footer -->
  <a
    (click)="backtotop()"
    class="back-to-top"
    style="cursor: pointer; display: none"
    ><i class="icofont-scroll-double-up"></i
  ></a>
</main>
