@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

a {
  color: #253d84;
}

a:hover {
  color: white;
  text-decoration: none;
}

#arrowAnim {
  width: 0.2vw;
  height: 0.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 0.2vw;
  height: 0.2vw;
  border: 2.5vw solid;
  border-color: red transparent transparent red;
  transform: rotate(-45deg);
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(15vw);
  }
  20% {
    opacity: 1;
    transform: translateX(9vw);
  }
  80% {
    opacity: 1;
    transform: translateX(-9vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-15vw);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(15vw);
  }
  20% {
    opacity: 1;
    transform: translateX(9vw);
  }
  80% {
    opacity: 1;
    transform: translateX(-9vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-15vw);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:Arial, Helvetica, sans-serif;
}

.JobF {
  color: white;
  font-size: 2.5em !important;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #253d84;
    color: #fff;
    transition: all 0.4s;
}

/* .back-to-top i:hover {
  background: #e72323;
  color: #fff;
} */
.navbar-brand{
  margin-top: 0px;
}

.navbar-brand img{
  width: 100%;
  height: 73px;
}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
  .navbar-brand img{
    width: 100%;
    height: 29px;
}

.navbar-brand{
   margin-top: 0px;
}
  .form1 {
    width: 100%;
    padding: 8px;
    padding-top: 21px;
    border: none;
    border-bottom: 1pt solid #bfbfbf;
    transition: all 200ms ease-in-out;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  /* padding: 67px 0px; */
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #191919;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #f4f4f4;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px !important;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .section-title span {
    font-size: 20px !important;
  }
  section {
    padding: 67px 12px;
    overflow: hidden;
  }
  .form1 {
    width: 100%;
    padding: 8px;
    padding-top: 9px;
    border: none;
    border-bottom: 1pt solid #bfbfbf;
    transition: all 200ms ease-in-out;
    margin-left: 2.4em !important;
  }
  .JobF {
    color: white;
    font-size: 34px !important;
    margin-left: 2em;
  }
  .heading2 {
    color: white;
    font-size: 32px !important;
    margin-left: 2.2em;
  }
}

.submit_btn {
  display: inline-block;
  padding: 10px 40px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 600;
  transition: 0.3s;
}


/* sal */

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 12px 10px;
  margin-left: 5px;
  transition: 0.3s;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu > ul > li:hover,
.nav-menu .active {
  background: #253d84;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #191919;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
  color: #e82d2d;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

nav .nav-link {
  font-size: 14px !important;
  padding-right: 15px;
  padding-left: 15px;
  height: 58px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.navbar-nav > .active > a {
  background-color: #253d84;
}

.navbar-light .navbar-toggler {
  border-color: #9e9e9e !important;
}

.dropdown-menu {
  background-color: black !important;
  background-clip: border-box !important;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  margin: 0px 0px !important;
}

.dropdown-item:hover {
  background-color: #253d84;
  color: white !important;
  transition: 0.3s;
}

.dropdown-item {
  padding: 10px 20px;
  font-size: 14px !important;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
}

/* rotate caret on hover */

.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-45deg);
}

.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
  /* remove the gap so it doesn't close*/
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin: -0.3em 0 0 0.4em;
  vertical-align: middle;
  content: "";
  border: 0.3em solid;
  border-width: 0 0.15em 0.15em 0;
  transform: rotateZ(45deg);
}

a,
a:hover {
  color: white !important;
}

nav .nav-item:hover {
  background-color: #253d84;
  transition: 0.3s;
}

.navbar {
  padding: 0px 0px !important;
}

.navbar-toggler {
  border-radius: 0.25rem !important;
  padding: 0.25rem 0.75rem !important;
  font-size: 1.25rem !important;
}

@media only screen and (max-width: 425px) {
  .main-form > h3 {
    margin-left: 2em;
  }
  .main-form .form-group > div {
    margin-left: 3em;
    width: 100%;
  }
  .main-form.form-group > label {
    margin-left: 2.6em !important;
  }
  .main-form.form-group.form-group > button {
    margin-left: 2em;
  }
  .overlay-right > h1 {
    margin-left: 2.2em;
  }
  .ghost {
    margin-left: 7em;
  }
  .main-form.form-group > div {
    margin-left: 5em;
  }
  .cont {
    margin-left: 5em;
  }
  .nperr {
    top: -18px !important;
    left: 15em !important;
  }
}

:root {
  --font-display: "Sedgwick Ave Display";
  --font-sans-serif: "IBM Plex Mono";
  --box-shadow: 0px 21px 34px 0px rgba(0, 0, 0, 0.89);
  --color-bg: linear-gradient(
    to bottom,
    rgba(35, 37, 38, 1) 0%,
    rgba(32, 38, 40, 1) 100%
  );
  --scene-width: 400px;
  --scene-height: 400px;
  --delay-base: 500ms;
  --delay-added: 100ms;
  --acc-back: cubic-bezier(0.39, 0.575, 0.565, 1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
}

.scene {
  position: relative;
  width: var(--scene-width);
  height: var(--scene-height);
  transition: transform 600ms var(--acc-back);
  display: flex;
  align-items: center;
}

.scene:hover {
  transform: scale(0.98) skewY(-1deg);
}

.scene > * {
  transition: transform 600ms var(--acc-back);
}

.text {
  transition: transform 600ms var(--acc-back), opacity 100ms ease-in;
  height: inherit;
  width: 100%;
  height: 100%;
  z-index: 7;
  position: relative;
  pointer-events: none;
}

.scene:hover .text {
  opacity: 1;
  transform: scale(0.91);
}

@keyframes popInImg {
  0% {
    transform: skewY(5deg) scaleX(0.89) scaleY(0.89);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text span {
  display: block;
  font-family: var(--font-sans-serif);
  text-align: center;
  text-shadow: var(--box-shadow);
  animation: popIn 600ms var(--acc-back) 1 forwards;
  opacity: 0;
}

@keyframes popIn {
  0%,
  13% {
    transform: scaleX(0.89) scaleY(0.75);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-403 {
  font-size: 440px;
  font-family: var(--font-display);
  animation-delay: calc(var(--delay-base) + 2 * var(--delay-added));
  z-index: 0;
  background: linear-gradient(
    to top,
    rgba(32, 38, 40, 0) 25%,
    rgba(49, 57, 61, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateX(-25%) translateZ(-100px) skewY(-3deg);
  position: absolute;
  pointer-events: none;
  transition: transform 1200ms var(--acc-back);
}

.msg {
  bottom: -38px;
  right: -21px;
  font-size: 34px;
  animation-delay: calc(var(--delay-base) + 3 * var(--delay-added));
  color: #8b8b8b;
  margin-top: 144px;
  letter-spacing: 2px;
}

.msg span {
  transform: skewX(-13deg);
  display: inline-block;
  color: #fff;
  letter-spacing: -1px;
}

.support {
  bottom: -50px;
  right: -21px;
  font-size: 21px;
  animation-delay: calc(var(--delay-base) + 4 * var(--delay-added));
  display: block;
  margin-top: 89px;
  color: #686a6b;
}

.support span {
  margin-bottom: 5px;
}

.support a {
  display: inline-block;
  color: #b2b3b4;
  text-decoration: none;
  pointer-events: initial;
}

.support a:after {
  content: "";
  width: 110%;
  margin-left: -5%;
  height: 5px;
  display: block;
  background: #fff;
  opacity: 0.55;
  margin-top: 13px;
  outline: 1px solid transparent;
}

.support a:hover:after {
  opacity: 1;
}

.support a:focus,
.support a:active {
  outline: none;
}

@media screen and (max-width: 539px) {
}

.overlay {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 50%;
  height: 50%;
  z-index: 1;
  transform: translateZ(34px);
}

.overlay:nth-of-type(1) {
  left: 0;
  top: 0;
}

.overlay:nth-of-type(2) {
  right: 0;
  top: 0;
}

.overlay:nth-of-type(3) {
  bottom: 0;
  right: 0;
}

.overlay:nth-of-type(4) {
  bottom: 0;
  left: 0;
}

.overlay:nth-of-type(1):hover ~ .lock,
.overlay:nth-of-type(1):focus ~ .lock {
  transform-origin: right top;
  transform: translateY(-3px) translateX(5px) rotateX(-13deg) rotateY(3deg)
    rotateZ(-2deg) translateZ(0) scale(0.89);
}

.overlay:nth-of-type(1):hover ~ .bg-403,
.overlay:nth-of-type(1):focus ~ .bg-403 {
  transform: translateX(-27%) skewY(-3deg) rotateX(-13deg) rotateY(3deg)
    translateZ(-100px) scale(0.89);
}

.overlay:nth-of-type(2):hover ~ .lock,
.overlay:nth-of-type(2):focus ~ .lock {
  transform-origin: left top;
  transform: translateY(-3px) translateX(5px) rotateX(13deg) rotateY(3deg)
    rotateZ(2deg) translateZ(0) scale(1.03);
}

.overlay:nth-of-type(2):hover ~ .bg-403,
.overlay:nth-of-type(2):focus ~ .bg-403 {
  transform: translateX(-21%) skewY(-3deg) rotateX(13deg) rotateY(3deg)
    translateZ(-100px);
}

.overlay:nth-of-type(3):hover ~ .lock,
.overlay:nth-of-type(3):focus ~ .lock {
  transform-origin: left bottom;
  transform: translateY(3px) translateX(-5px) rotateX(-13deg) rotateY(3deg)
    rotateZ(-2deg) translateZ() scale(0.96);
}

.overlay:nth-of-type(3):hover ~ .bg-403,
.overlay:nth-of-type(3):focus ~ .bg-403 {
  transform: translateX(-23%) rotateX(-13deg) rotateY(3deg) translateZ(-100px);
}

.overlay:nth-of-type(4):hover ~ .lock,
.overlay:nth-of-type(4):focus ~ .lock {
  transform-origin: right bottom;
  transform: translateY(3px) translateX(5px) rotateX(-13deg) rotateY(-3deg)
    rotateZ(2deg) translateZ(0) scale(0.89);
}

.overlay:nth-of-type(4):hover ~ .bg-403,
.overlay:nth-of-type(4):focus ~ .bg-403 {
  transform: translateX(-19%) rotateX(-13deg) rotateY(-3deg) translateZ(-100px);
}

.lock {
  box-shadow: 32px 8px 0 0 #e4e4e4, 40px 8px 0 0 #e4e4e4, 48px 8px 0 0 #e4e4e4,
    56px 8px 0 0 #e4e4e4, 24px 16px 0 0 #cbcbcb, 32px 16px 0 0 #cbcbcb,
    40px 16px 0 0 #909090, 48px 16px 0 0 #909090, 56px 16px 0 0 #cbcbcb,
    64px 16px 0 0 #e4e4e4, 16px 24px 0 0 #cbcbcb, 24px 24px 0 0 #cbcbcb,
    32px 24px 0 0 #909090, 56px 24px 0 0 #909090, 64px 24px 0 0 #cbcbcb,
    72px 24px 0 0 #e4e4e4, 16px 32px 0 0 #cbcbcb, 24px 32px 0 0 #909090,
    64px 32px 0 0 #909090, 72px 32px 0 0 #cbcbcb, 16px 40px 0 0 #cbcbcb,
    24px 40px 0 0 #909090, 64px 40px 0 0 #909090, 72px 40px 0 0 #cbcbcb,
    16px 48px 0 0 #909090, 24px 48px 0 0 #909090, 64px 48px 0 0 #909090,
    72px 48px 0 0 #909090, 8px 56px 0 0 #fbec79, 16px 56px 0 0 #fbec79,
    24px 56px 0 0 #fbec79, 32px 56px 0 0 #fbec79, 40px 56px 0 0 #fbec79,
    48px 56px 0 0 #fbec79, 56px 56px 0 0 #fbec79, 64px 56px 0 0 #fbec79,
    72px 56px 0 0 #fbec79, 80px 56px 0 0 #fbec79, 8px 64px 0 0 #ffc107,
    16px 64px 0 0 #ffc107, 24px 64px 0 0 #ffc107, 32px 64px 0 0 #ffc107,
    40px 64px 0 0 #ffc107, 48px 64px 0 0 #ffc107, 56px 64px 0 0 #ffc107,
    64px 64px 0 0 #ffc107, 72px 64px 0 0 #ffc107, 80px 64px 0 0 #ffc107,
    8px 72px 0 0 #ffc107, 16px 72px 0 0 #ffc107, 24px 72px 0 0 #ffc107,
    32px 72px 0 0 #ffc107, 40px 72px 0 0 #ffc107, 48px 72px 0 0 #ffc107,
    56px 72px 0 0 #ffc107, 64px 72px 0 0 #ffc107, 72px 72px 0 0 #ffc107,
    80px 72px 0 0 #ffc107, 8px 80px 0 0 #ff9800, 16px 80px 0 0 #ffc107,
    24px 80px 0 0 #ffc107, 32px 80px 0 0 #ffc107, 40px 80px 0 0 #ffc107,
    48px 80px 0 0 #ff9800, 56px 80px 0 0 #ff9800, 64px 80px 0 0 #ff9800,
    72px 80px 0 0 #ff9800, 16px 88px 0 0 #ff9800, 24px 88px 0 0 #ff9800,
    32px 88px 0 0 #ff9800, 40px 88px 0 0 #ff9800, 48px 88px 0 0 #ff9800,
    56px 88px 0 0 #ff9800, 64px 88px 0 0 #ff9800, 72px 88px 0 0 #ff9800,
    24px 96px 0 0 #ff9800, 32px 96px 0 0 #ff9800, 40px 96px 0 0 #ff9800,
    48px 96px 0 0 #ff9800, 56px 96px 0 0 #ff9800, 64px 96px 0 0 #ff9800;
  height: 8px;
  width: 8px;
  position: absolute;
  left: calc(50% - 48px);
  top: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  pointer-events: none;
  outline: 1px solid transparent;
}

#spam {
  background-color: #170606;
  border-radius: 5px;
  margin: auto;
  width: 85%;
  cursor: not-allowed;
}
h1 {
  padding-top: 30px;
  font-size: 60px;
  font-family: Arial;
  text-align: center;
  border-bottom: 1px solid #333;
  border-bottom-style: dashed;
  padding-bottom: 20px;
}
spam {
  color: red;
  text-decoration: none;
  cursor: not-allowed;
}
p {
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  padding-bottom: 3%;
}
small {
  font-family: Arial;
  text-align: center;
  word-spacing: -1px;
  font-size: 10px;
  font-weight: normal;
  color: gray;
}
#gears {
  text-align: center;
  color: #333;
  width: 200px;
  margin: auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  /* opacity: 0.85; */
  padding: 30px 0px;
}
.test{
  font-size: 12px;
          margin-left: -258px !important;
          margin-top: 41px !important;
          font-weight: 700;
  }
  @media Screen and   (max-width: 761px) and (min-width : 360px){
      .test{     
          font-size: 11px;
          margin-left: 63px !important;
          margin-top: -56px !important;
          font-weight: 700;
  }
  }
  
   @media Screen and   (max-width: 1100px) and (min-width : 768px){
      .test{
      font-size: 12px;
      margin-left: -622px !important;
      margin-top: 41px !important;
      font-weight: 700;
  }
  }
  
  
  