<!-- Topbar -->
<app-topbar></app-topbar>
<!-- Header -->
<div class="container-fluid sticky-nav" id="" style="background-color: #f2f2f2 !important">
    <div class="container-fluid" ngStickyNav>
        <nav class="navbar navbar-expand-lg">
            <a routerLink="/public" class="navbar-brand ">
                <img src="../../../assets/img/DBKL LOGO (Lorry).png" alt="" loading="lazy" />

            </a>

            <button class="navbar-toggler border-white" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa fa-bars text-white"></i>
            </button>

            <ul *ngIf="isAdminType == 'financial'" class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a routerLink="/dbkl/dbklmainpage" class="nav-link"
                        style="color: #253d84 !important; cursor: pointer" i18n="@@home">HOME</a>
                </li>

                <li class="nav-item dropdown" id="user">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="color: #253d84 !important; cursor: pointer"
                        i18n="@@n6">
                        INVENTORY DATA
                    </a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/dbkl/mapview" (click)="getUser('financial')"
                            style="color: white; cursor: pointer" i18n="@@n1">Main Page</a>
                        <a routerLink="/dbkl/omplama" class="dropdown-item" (click)="getUser('financial')"
                            style="color: white; cursor: pointer" i18n="@@n8">OMP Lama</a>
                        <a routerLink="/dbkl/ompbaru" class="dropdown-item" (click)="getUser('financial')"
                            style="color: white; cursor: pointer" i18n="@@n9">New OMP</a>
                        <a routerLink="/dbkl/inactivearea" class="dropdown-item" (click)="getUser('financial')"
                            style="color: white; cursor: pointer" i18n="@@insmall">Inactive Areas</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="color: #253d84 !important ; cursor: pointer">
                        {{ username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a routerLink="/profileLog" class="dropdown-item" style="color: white; cursor: pointer"
                            i18n="@@Profile">Profile</a>
                        <a class="dropdown-item" (click)="logout()" style="color: white; cursor: pointer"
                            i18n="@@jflogout">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- End of Header -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#253d84" type="ball-clip-rotate-multiple"
    [fullScreen]="true">

</ngx-spinner>
<!-- End Breadcrumbs -->
<main>
    <section class="ompbaru" id="ompbaru">
        <div class="card">
            <div class="text-center">
                <div class="section-title">
                    <h6 style="font-weight: 900; font-size: 20px;" i18n="@@op1">
                        
DETAILED OPERATING SCHEDULE FOR SOLID WASTE COLLECTION AND CLEANING
                    </h6>
                    <!-- <span>PROSES PERMOHONAN PPSSPPA</span>
                <h2>PROSES PERMOHONAN PPSSPPA</h2> -->
                    <!-- <span>New OMP</span>
                <h2>New OMP</h2> -->
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <label for="select" class="text-center" style="font-weight: 500" i18n="@@omp6">
                        <!-- Tahun Permohonan -->
                        OMP Search By Parliament :
                    </label>
                    <select id="yearOfApplication" [(ngModel)]="parlim" name="parlim"
                        (change)="selectChangeHandler($event)" class="form-control"
                        aria-placeholder="Select the Parliament">
                        <option value="" disabled selected i18n="@@cap">Choose a Parliament</option>
                        <option>Batu</option>
                        <option>Kepong</option>
                        <option>Segambut</option>
                        <option>Titiwangsa</option>
                        <option>Wangsa Maju</option>
                        <option>Setiawangsa</option>
                        <option>Bukit Bintang</option>
                        <option>Lembah Pantai</option>
                        <option>Cheras</option>
                        <option>Bandar Tun Razak</option>
                        <option>Seputeh</option>
                    </select>


                </div>
                <!-- <input type="number" class=" form-control mb-4" min="1990" placeholder="Tahun" max="2050"
                id="yearOfApplication"> -->
                <div class="col-lg-4 col-md-4 col-xs-10 col-sm-4">
                    <div>
                        <label for="select" class="text-center" style="font-weight: 500" i18n="@@subArea">
                            <!-- Tahun Permohonan -->
                            SubArea :
                        </label>
                        <div>
                            <input class="custom-select" list="dataly" name="dataly" (change)="activityly($event)" />
                            <datalist id="dataly">
                                <option *ngFor="let dataly of subArea" [value]="dataly">{{ dataly }}
                                </option>
                            </datalist>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-2 col-sm-4">
                    <button class="sbtn" (click)="search()">
                        <i class="icofont-search-2"></i>
                    </button>
                </div>
            </div>


            <!-- <div class="container-fluid row input d-flex justify-content-center">
                <label for="select" class="text-center d-flex align-items-center"
                    style="font-weight: 500; margin-bottom: 0px !important" i18n="@@op2">
                    
                    OMP Search By Parliament :
                </label>

                
                &nbsp;
                <div class="d-inline-block">
                    <select id="yearOfApplication" [(ngModel)]="parlim" name="parlim"
                        (change)="selectChangeHandler($event)" class="form-control" style="width: 200px">
                        <option value="" selected i18n="@@selectparli">Select the Parliament</option>
                        <option>Batu</option>
                        <option>Kepong</option>
                        <option>Segambut</option>
                        <option>Titiwangsa</option>
                        <option>Wangsa Maju</option>
                        <option>Setiawangsa</option>
                        <option>Bukit Bintang</option>
                        <option>Lembah Pantai</option>
                        <option>Cheras</option>
                        <option>Bandar Tun Razak</option>
                        <option>Seputeh</option>
                    </select>
                </div>
                <div *ngIf="checked" style="position: absolute; top: 9.3em; left: 42.8em; color: red"
                    i18n="@@Valtrans1">
                    *Please fill this required field.
                </div>
                <div></div>

                <button class="btn ml-2" (click)="search()" style="
            width: fit-content;
            background-image: -webkit-linear-gradient(top, #d9534f 0, #c12e2a 100%);
            border-radius: 0px !important;
          ">
                    <i class="icofont-search-2"></i>
                </button>
            </div> -->
            <br>
            <br>
            <div class="search col d-flex justify-content-between mb-2">
                <div class="d-flex">
                    <label for="lokasi" style="margin-bottom: 0px; margin-top: 0.2em; font-weight: 500"
                        i18n="@@ompsrch">Search Location
                    </label>
                    <input (keyup)="lookup($event)" type="text" class="ml-2 form-control search" style="width: 38%" name="lokasi"
                        id="txt_searchall" />

                </div>
                <div class="mb-2">
                    <button class="look_for_red" routerLink="/dbkl/dbklmainpage" id="middlebtn" i18n="@@comeback">
                        Back
                    </button>
                </div>
            </div>
            <div class="table-responsive col-md-12">
                <table mat-table [dataSource]="dataSource" class="table table-bordered table-striped table-hover table-condensed">
                    <ng-container matColumnDef="header-areaCode">
                        <th class="text-center" mat-header-cell *matHeaderCellDef [attr.rowspan]="4" i18n="@@op4">Area Code</th>
                    </ng-container>
                    <ng-container matColumnDef="header-location">
                        <th class="text-center" mat-header-cell *matHeaderCellDef [attr.rowspan]="4" i18n="@@op5">Location</th>
                    </ng-container>
                    <ng-container matColumnDef="header-parlimen">
                        <th class="text-center" mat-header-cell *matHeaderCellDef [attr.rowspan]="4" i18n="@@op6">Parliment</th>
                    </ng-container>
                    <ng-container matColumnDef="header-coordinate">
                        <th class="text-center" mat-header-cell *matHeaderCellDef [attr.rowspan]="4" i18n="@@op7">Coordinate</th>
                    </ng-container>
                    <ng-container matColumnDef="header-totalUnitPremise">
                        <th class="text-center" mat-header-cell *matHeaderCellDef [attr.rowspan]="4" i18n="@@op8">Total Unit Premise</th>
                    </ng-container>
                    <ng-container matColumnDef="header-khidmat-sisapepejal">
                        <th class="text-center" mat-header-cell *matHeaderCellDef [attr.colspan]="8">Perkhidmatan Kutipan Sisa Pepejal</th>
                    </ng-container>
                    <ng-container matColumnDef="header-khidmat-pembersihan">
                        <th class="text-center" mat-header-cell *matHeaderCellDef colspan="57">
                            Perkhidmatan Pembersihan
                        </th>
                    </ng-container>
                    <!-- <ng-container matColumnDef="header-kadar">
                        <th class="text-center" mat-header-cell *matHeaderCellDef rowspan="4">Kadar</th>
                    </ng-container>
                    <ng-container matColumnDef="header-frekuensi">
                        <th class="text-center" mat-header-cell *matHeaderCellDef rowspan="4">Frekuensi</th>
                    </ng-container> -->
                    <ng-container matColumnDef="header-jumlah">
                        <th class="text-center" mat-header-cell *matHeaderCellDef rowspan="4">Jumlah Keseluruhan (RM/Sebulan)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-notes">
                        <th class="text-center" mat-header-cell *matHeaderCellDef rowspan="4" i18n="@@op11">Notes</th>
                    </ng-container>
                    <ng-container matColumnDef="header-reference">
                        <th class="text-center" mat-header-cell *matHeaderCellDef rowspan="4" i18n="@@op12">
                            Reference / Delivery Date
                        </th>
                    </ng-container>     
                    <ng-container matColumnDef="header-review">       
                        <th class="text-center" mat-header-cell *matHeaderCellDef colspan="2" i18n="@@op13">
                            Field Review Date / Current Condition
                        </th>       
                    </ng-container> 
                    <ng-container matColumnDef="header-edit">
                        <th class="text-center" mat-header-cell *matHeaderCellDef rowspan="4" i18n="@@update">Edit</th>
                    </ng-container>    
                    <ng-container matColumnDef="header-domesticWaste">
                        <th class="text-center" mat-header-cell *matHeaderCellDef colspan="4" i18n="@@op14">
                            Domestic waste
                        </th>
                    </ng-container>
                    <ng-container matColumnDef="header-bulkGarbage">
                        <th class="text-center" mat-header-cell *matHeaderCellDef colspan="4" i18n="@@op15">
                            Bulk Garbage
                        </th>
                    </ng-container>
                    <ng-container matColumnDef="header-illegalGarbage">
                        <th class="text-center" mat-header-cell *matHeaderCellDef rowspan="2" i18n="@@op16">
                            Illegal Garbage
                        </th>
                    </ng-container>
                    <ng-container matColumnDef="header-sweep">
                        <th class="text-center" mat-header-cell *matHeaderCellDef colspan="6">Sapuan</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian">
                        <th class="text-center" mat-header-cell *matHeaderCellDef colspan="33">Cucian</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan">
                        <th class="text-center" mat-header-cell *matHeaderCellDef colspan="15">Pembersihan</th>
                    </ng-container>
                    <ng-container matColumnDef="header-grass">
                        <th class="text-center" mat-header-cell colspan="3" *matHeaderCellDef rowspan="2">
                            Pemotongan Rumput (m<sup>2</sup>)
                        </th>
                    </ng-container>
                    <ng-container matColumnDef="header-available">
                        <th class="text-center" mat-header-cell *matHeaderCellDef rowspan="3" i18n="@@op23">
                            Available [√]
                        </th>
                    </ng-container>
                    <ng-container matColumnDef="header-none">
                        <th class="text-center" mat-header-cell *matHeaderCellDef rowspan="3" i18n="@@op24">None [X]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-domestic-category">
                        <th class="text-center" rowspan="2" mat-header-cell *matHeaderCellDef>Kategori Premis</th>
                    </ng-container>
                    <ng-container matColumnDef="header-domestic-jumlah">
                        <th class="text-center" rowspan="2" mat-header-cell *matHeaderCellDef>Jumlah Unit Premis</th>
                    </ng-container>
                    <ng-container matColumnDef="header-domestic-frequency">
                        <th class="text-center" rowspan="2" mat-header-cell *matHeaderCellDef>Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-domestic-total">
                        <th class="text-center" rowspan="2" mat-header-cell *matHeaderCellDef>Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pukal-category">
                        <th class="text-center" rowspan="2" mat-header-cell *matHeaderCellDef>Kategori Premis</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pukal-jumlah">
                        <th class="text-center" rowspan="2" mat-header-cell *matHeaderCellDef>Jumlah Unit Premis</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pukal-frequency">
                        <th class="text-center" rowspan="2" mat-header-cell *matHeaderCellDef>Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pukal-total">
                        <th class="text-center" rowspan="2" mat-header-cell *matHeaderCellDef>Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-sweep-domestic">
                        <th class="text-center" colspan="3" mat-header-cell *matHeaderCellDef>Sapuan Kawasan Perumahan [m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-sweep-komersial">
                        <th mat-header-cell colspan="3" *matHeaderCellDef class="text-center">Sapuan Kawasan Komersial [m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-domestic">
                        <th mat-header-cell colspan="3" *matHeaderCellDef class="text-center">Cucian Longkang Kawasan Perumahan [m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-komersial">
                        <th mat-header-cell colspan="3" *matHeaderCellDef class="text-center">Cucian Longkang Kawasan Komersial [m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-monsoon">
                        <th mat-header-cell colspan="3" *matHeaderCellDef class="text-center">Cucian Monsoon Drain Kawasan Perumahan [m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-monsoon-komersial">
                        <th mat-header-cell colspan="3" *matHeaderCellDef class="text-center">Cucian Monsoon Drain Kawasan Komersial [m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-jejantas-dalam">
                        <th mat-header-cell colspan="3" *matHeaderCellDef class="text-center">Cucian Jejantas Bahagian Dalam [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-jejantas-atas">
                        <th mat-header-cell colspan="3" *matHeaderCellDef class="text-center">Cucian Jejantas Bahagian Atas Menggunakan Skylift [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-siar-bumbung">
                        <th mat-header-cell colspan="3" *matHeaderCellDef class="text-center">Cucian Siar Kaki Berbumbung [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-siar-gulam1">
                        <th mat-header-cell colspan="3" *matHeaderCellDef class="text-center">Cucian Siar Kaki Dibawah Gulam [RM2.50/m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-siar-gulam2">
                        <th mat-header-cell colspan="3" *matHeaderCellDef class="text-center">Cucian Siar Kaki Dibawah Gulam [RM3.50/m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-tandas">
                        <th mat-header-cell colspan="3" *matHeaderCellDef class="text-center">Cucian Tandas Awam [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-teksi">
                        <th mat-header-cell colspan="3" *matHeaderCellDef class="text-center">Cucian Hentian Bas/Teksi [unit]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-lapang">
                        <th mat-header-cell *matHeaderCellDef colspan="3" class="text-center">Pembersihan Kawasan Lapang/Kawasan Parkir/Kawasan Awam [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-tpkk">
                        <th mat-header-cell *matHeaderCellDef colspan="3" class="text-center">Pembersihan TPKK [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-penjaja">
                        <th mat-header-cell *matHeaderCellDef colspan="3" class="text-center">Pembersihan Pusat Penjaja [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-pasar">
                        <th mat-header-cell *matHeaderCellDef colspan="3" class="text-center">Pembersihan Pasar [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-pasar-mlm">
                        <th mat-header-cell *matHeaderCellDef colspan="3" class="text-center">Pembersihan Pasar Malam / Pasar Tani [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-sweep-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-sweep-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Panjang [m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-sweep-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-sweep-komersial-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-sweep-komersial-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Panjang [m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-sweep-komersial-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-domestic-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-domestic-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Panjang [m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-domestic-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-komersial-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-komersial-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Panjang [m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-komersial-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-monsoon-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-monsoon-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Panjang [m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-monsoon-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-monsoon-komersial-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-monsoon-komersial-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Panjang [m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-drain-monsoon-komersial-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-jejantas-dalam-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-jejantas-dalam-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Luas [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-jejantas-dalam-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-jejantas-atas-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-jejantas-atas-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Luas [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-jejantas-atas-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-siar-bumbung-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-siar-bumbung-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Luas [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-siar-bumbung-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-siar-gulam1-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-siar-gulam1-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Luas [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-siar-gulam1-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-siar-gulam2-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-siar-gulam2-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Luas [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-siar-gulam2-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-tandas-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-tandas-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Luas [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-tandas-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-teksi-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-teksi-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Luas [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-cucian-teksi-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-lapang-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-lapang-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Luas [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-lapang-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-tpkk-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-tpkk-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Luas [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-tpkk-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-penjaja-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-penjaja-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Luas [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-penjaja-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-pasar-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-pasar-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Luas [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-pasar-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-pasar-mlm-freq">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-pasar-mlm-unit">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Luas [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-pembersihan-pasar-mlm-jumlah">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-grass-freq">
                        <th mat-header-cell *matHeaderCellDef rowspan="2" class="text-center">Frekuensi</th>
                    </ng-container>
                    <ng-container matColumnDef="header-grass-unit">
                        <th mat-header-cell *matHeaderCellDef rowspan="2" class="text-center">Luas [m<sup>2</sup>]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-grass-jumlah">
                        <th mat-header-cell *matHeaderCellDef rowspan="2" class="text-center">Jumlah Harga (RM)</th>
                    </ng-container>
                    <ng-container matColumnDef="header-parking">
                        <th mat-header-cell *matHeaderCellDef class="text-center">
                            <span class="text-center" i18n="@@op26">Kaw Lapang Parking</span>  [m<sup>2</sup>]
                         </th>
                    </ng-container>
                    <ng-container matColumnDef="header-sweep2">
                        <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@op27">Sweep[m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-laundry2">
                        <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@op28">Laundry[m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-postFooter">
                        <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@op29">Post Footer [m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-postCoveredLegs">
                        <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@op30">Post Covered Legs [m]</th>
                    </ng-container>
                    <ng-container matColumnDef="header-busTaxi">
                        <th mat-header-cell *matHeaderCellDef class="text-center" i18n="@@op31">Bus /Taxi Station</th>
                    </ng-container>

                    <ng-container matColumnDef="areaCode">
                        <td mat-cell *matCellDef="let element">{{ element.areaCode }}</td>
                    </ng-container>
                    <ng-container matColumnDef="location">
                        <td style="font-size: 11px;" mat-cell *matCellDef="let element">{{ element.location }}</td>
                    </ng-container>
                    <ng-container matColumnDef="parlimen">
                        <td mat-cell *matCellDef="let element">{{ element.parlimen }}</td>
                    </ng-container>
                    <ng-container matColumnDef="coordinate">
                        <td mat-cell *matCellDef="let element">{{ element.coordinate }}</td>
                    </ng-container>
                    <ng-container matColumnDef="totalPremise">
                        <td mat-cell *matCellDef="let element">{{ element.totalPremise }}</td>
                    </ng-container>
                    <ng-container matColumnDef="domesticCategory">
                        <td mat-cell *matCellDef="let element">{{ element.domesticCategory || '-' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="domesticTotal">
                        <td mat-cell *matCellDef="let element">{{ element.domesticTotal }}</td>
                    </ng-container>
                    <ng-container matColumnDef="domesticFreq">
                        <td mat-cell *matCellDef="let element">{{ element.domesticFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="domesticJumlah">
                        <td mat-cell *matCellDef="let element">{{ (element.domesticTotal * element.domesticRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="pukalCategory">
                        <td mat-cell *matCellDef="let element">{{ element.pukalCategory || '-' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="pukalTotal">
                        <td mat-cell *matCellDef="let element">{{ element.pukalTotal }}</td>
                    </ng-container>
                    <ng-container matColumnDef="pukalFreq">
                        <td mat-cell *matCellDef="let element">{{ element.pukalFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="pukalJumlah">
                        <td mat-cell *matCellDef="let element">{{ (element.pukalRate * element.pukalTotal) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="sweepFreq">
                        <td mat-cell *matCellDef="let element">{{ element.sweepFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="sweepUnit">
                        <td mat-cell *matCellDef="let element">{{ element.sweepUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="sweepTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.sweepUnit * element.sweepRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="sweepKomersialFreq">
                        <td mat-cell *matCellDef="let element">{{ element.sweepKomersialFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="sweepKomersialUnit">
                        <td mat-cell *matCellDef="let element">{{ element.sweepKomersialUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="sweepKomersialTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.sweepKomersialUnit * element.sweepKomersialRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianDrainDomesticFreq">
                        <td mat-cell *matCellDef="let element">{{ element.cucianDrainDomesticFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianDrainDomesticUnit">
                        <td mat-cell *matCellDef="let element">{{ element.cucianDrainDomesticUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianDrainDomesticTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.cucianDrainDomesticUnit * element.cucianDrainDomesticRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianDrainKomersialFreq">
                        <td mat-cell *matCellDef="let element">{{ element.cucianDrainKomersialFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianDrainKomersialUnit">
                        <td mat-cell *matCellDef="let element">{{ element.cucianDrainKomersialUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianDrainKomersialTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.cucianDrainKomersialUnit * element.cucianDrainKomersialRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianDrainMonsoonFreq">
                        <td mat-cell *matCellDef="let element">{{ element.cucianDrainMonsoonFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianDrainMonsoonUnit">
                        <td mat-cell *matCellDef="let element">{{ element.cucianDrainMonsoonUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianDrainMonsoonTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.cucianDrainMonsoonUnit * element.cucianDrainMonsoonRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianDrainMonsoonKomersialFreq">
                        <td mat-cell *matCellDef="let element">{{ element.cucianDrainMonsoonKomersialFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianDrainMonsoonKomersialUnit">
                        <td mat-cell *matCellDef="let element">{{ element.cucianDrainMonsoonKomersialUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianDrainMonsoonKomersialTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.cucianDrainMonsoonKomersialUnit * element.cucianDrainMonsoonKomersialRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianJejantasDalamFreq">
                        <td mat-cell *matCellDef="let element">{{ element.cucianJejantasDalamFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianJejantasDalamUnit">
                        <td mat-cell *matCellDef="let element">{{ element.cucianJejantasDalamUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianJejantasDalamTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.cucianJejantasDalamFreq * element.cucianJejantasDalamUnit * element.cucianJejantasDalamRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianJejantasAtasFreq">
                        <td mat-cell *matCellDef="let element">{{ element.cucianJejantasAtasFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianJejantasAtasUnit">
                        <td mat-cell *matCellDef="let element">{{ element.cucianJejantasAtasUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianJejantasAtasTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.cucianJejantasAtasFreq * element.cucianJejantasAtasUnit * element.cucianJejantasAtasRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianSiarBumbungFreq">
                        <td mat-cell *matCellDef="let element">{{ element.cucianSiarBumbungFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianSiarBumbungUnit">
                        <td mat-cell *matCellDef="let element">{{ element.cucianSiarBumbungUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianSiarBumbungTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.cucianSiarBumbungFreq * element.cucianSiarBumbungUnit * element.cucianSiarBumbungRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianSiarGulam1Freq">
                        <td mat-cell *matCellDef="let element">{{ element.cucianSiarGulam1Freq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianSiarGulam1Unit">
                        <td mat-cell *matCellDef="let element">{{ element.cucianSiarGulam1Unit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianSiarGulam1Total">
                        <td mat-cell *matCellDef="let element">{{ (element.cucianSiarGulam1Freq * element.cucianSiarGulam1Unit * element.cucianSiarGulam1Rate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianSiarGulam2Freq">
                        <td mat-cell *matCellDef="let element">{{ element.cucianSiarGulam2Freq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianSiarGulam2Unit">
                        <td mat-cell *matCellDef="let element">{{ element.cucianSiarGulam2Unit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianSiarGulam2Total">
                        <td mat-cell *matCellDef="let element">{{ (element.cucianSiarGulam2Freq * element.cucianSiarGulam2Unit * element.cucianSiarGulam2Rate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianTandasFreq">
                        <td mat-cell *matCellDef="let element">{{ element.cucianTandasFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianTandasUnit">
                        <td mat-cell *matCellDef="let element">{{ element.cucianTandasUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianTandasTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.cucianTandasFreq * element.cucianTandasUnit * element.cucianTandasRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianTeksiFreq">
                        <td mat-cell *matCellDef="let element">{{ element.cucianTeksiFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianTeksiUnit">
                        <td mat-cell *matCellDef="let element">{{ element.cucianTeksiRate }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianTeksiTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.cucianTeksiFreq * element.cucianTeksiRate * element.cucianTeksiUnit) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihLapangFreq">
                        <td mat-cell *matCellDef="let element">{{ element.bersihLapangFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihLapangUnit">
                        <td mat-cell *matCellDef="let element">{{ element.bersihLapangUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihLapangTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.bersihLapangFreq * element.bersihLapangUnit * element.bersihLapangRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihTpkkFreq">
                        <td mat-cell *matCellDef="let element">{{ element.bersihTpkkFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihTpkkUnit">
                        <td mat-cell *matCellDef="let element">{{ element.bersihTpkkUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihTpkkTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.bersihTpkkFreq * element.bersihTpkkUnit * element.bersihTpkkRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihPenjajaFreq">
                        <td mat-cell *matCellDef="let element">{{ element.bersihPenjajaFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihPenjajaUnit">
                        <td mat-cell *matCellDef="let element">{{ element.bersihPenjajaUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihPenjajaTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.bersihPenjajaFreq * element.bersihPenjajaUnit * element.bersihPenjajaRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihPasarFreq">
                        <td mat-cell *matCellDef="let element">{{ element.bersihPasarFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihPasarUnit">
                        <td mat-cell *matCellDef="let element">{{ element.bersihPasarUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihPasarTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.bersihPasarFreq * element.bersihPasarUnit * element.bersihPasarRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihPasarMlmFreq">
                        <td mat-cell *matCellDef="let element">{{ element.bersihPasarMlmFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihPasarMlmUnit">
                        <td mat-cell *matCellDef="let element">{{ element.bersihPasarMlmUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bersihPasarMlmTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.bersihPasarMlmFreq * element.bersihPasarMlmUnit * element.bersihPasarMlmRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="grassFreq">
                        <td mat-cell *matCellDef="let element">{{ element.grassFreq }}</td>
                    </ng-container>
                    <ng-container matColumnDef="grassUnit">
                        <td mat-cell *matCellDef="let element">{{ element.grassUnit }}</td>
                    </ng-container>
                    <ng-container matColumnDef="grassTotal">
                        <td mat-cell *matCellDef="let element">{{ (element.grassFreq * element.grassUnit * element.grassRate) | currency : 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="road">
                        <td mat-cell *matCellDef="let element">{{ element.road }}</td>
                    </ng-container>
                    <ng-container matColumnDef="tpkk">
                        <td mat-cell *matCellDef="let element">{{ element.tpkk }}</td>
                    </ng-container>
                    <ng-container matColumnDef="kawasanLapang">
                        <td mat-cell *matCellDef="let element">{{ element.kawasanLapang }}</td>
                    </ng-container>
                    <ng-container matColumnDef="jejantasSapuan">
                        <td mat-cell *matCellDef="let element">{{ element.jejantasSapuan }}</td>
                    </ng-container>
                    <ng-container matColumnDef="jejantasCucian">
                        <td mat-cell *matCellDef="let element">{{ element.jejantasCucian }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianSiarKaki">
                        <td mat-cell *matCellDef="let element">{{ element.cucianSiarkaki }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianSiarKakiBerbumbung">
                        <td mat-cell *matCellDef="let element">{{ element.cucianSiarkakiBumbung }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianStesenBas">
                        <td mat-cell *matCellDef="let element">{{ element.cucianStesenBas }}</td>
                    </ng-container>
                    <ng-container matColumnDef="cucianLongkang">
                        <td mat-cell *matCellDef="let element">{{ element.cucianLongkang }}</td>
                    </ng-container>
                    <ng-container matColumnDef="potongRumput">
                        <td mat-cell *matCellDef="let element">{{ element.potongRumput }}</td>
                    </ng-container>
                    <ng-container matColumnDef="sampahKebun">
                        <td mat-cell *matCellDef="let element">{{ element.sampahKebun }}</td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="kadar">
                        <td mat-cell *matCellDef="let element">{{ (+element.kadar) | currency: 'RM ' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="frekuensi">
                        <td mat-cell *matCellDef="let element">{{ element.frekuensi }}</td>
                    </ng-container> -->
                    <ng-container matColumnDef="jumlah">
                        <td mat-cell *matCellDef="let element">{{ element.jumlahKeseluruhan | currency: 'RM' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="catatan">
                        <td mat-cell *matCellDef="let element">{{ element.catatan }}</td>
                    </ng-container>
                    <ng-container matColumnDef="tarikhSerahan">
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf="element.suratSerahan;else tarikh" (click)="getPdf(element.suratSerahan)" style="color: #253d84; cursor: pointer">Surat Serahan</span>
                            <ng-template #tarikh>{{element.tarikh}}</ng-template>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="checkAda">
                        <td mat-cell *matCellDef="let element">{{ element.available }}</td>
                    </ng-container>
                    <ng-container matColumnDef="checkTiada">
                        <td mat-cell *matCellDef="let element">{{ element.notAvailable }}</td>
                    </ng-container>
                    <ng-container matColumnDef="kemaskini">
                        <td mat-cell *matCellDef="let element">
                            <a href="dbkl/updateinventory?id={{element.ompId}}"><i
                                style="color: black; font-size: 20px;" class="fa fa-edit"></i></a>&nbsp;&nbsp;
                        <i style=" font-size: 20px;cursor: pointer;" class="fa fa-trash"
                            (click)="selectEvent(element.ompId)"></i>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="headers"></tr>
                    <tr mat-header-row *matHeaderRowDef="headers2"></tr>
                    <tr mat-header-row *matHeaderRowDef="headers3"></tr>
                    <tr mat-header-row *matHeaderRowDef="headers4"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>
            <div class="col-md-12">
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5,10,20]"></mat-paginator>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<app-footer></app-footer>
<!-- End Footer -->

<a (click)="backtotop()" class="back-to-top" style="cursor: pointer"><i class="icofont-simple-up"></i></a>

<div class="modal" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
    [ngStyle]="{ display: display2 }" aria-labelledby=" staticBackdropLabel " aria-hidden="true ">
    <div class="modal-dialog modal-dialog-centered" role="document ">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center" style="
          border-bottom: 0px solid transparent !important;
          padding-bottom: 0px !important;
        ">
                <i style="font-size: 4em !important;" class="fa fa-exclamation-circle" aria-hidden="true"></i>
            </div>
            <div class="modal-body">
                <h5 class="text-center" i18n="@@delete">This account will be deleted. Are you sure?</h5>
                <div class="d-flex justify-content-center">
                    <button type="button" class="look_for_blue" (click)="deleteSelected()" i18n="@@y1">
                        YES
                    </button>
                    <button type="button" class="look_for_red"
                        style="background-image: -webkit-linear-gradient(top, #d9534f 0, #c12e2a 100%); color: white;border-radius:4px"
                        (click)="closeModalDelete()" i18n="@@no">
                        NO
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>