<app-header></app-header>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#253d84" type="ball-clip-rotate-multiple" [fullScreen]="true">
    
</ngx-spinner>
<!-- Topbar -->
<app-topbar></app-topbar>
<!-- End of Topbar -->
<!-- Header -->
<app-headerc></app-headerc>
<!-- End of Header -->
<section id="home" class="inner-page">
    <div class="card" style="box-shadow: 0 0 30px rgb(214 215 216 / 60%)">
        <div class="page1"></div>
        <div class="page2wrapper">
            <div class="page2">
                <div class="content">
                    <H1>TO BE COMPLETED</H1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End -->

<!-- ======= Footer ======= -->
<app-footer></app-footer>
<!-- End Footer -->

<a (click)="backtotop()" class="back-to-top" style="cursor: pointer"><i class="icofont-simple-up"></i
></a>