/* You can add global styles to this file, and also import other style files */

/* Global footer styles */
.footer {
  position: relative;
  width: 100%;
}

.dark-background {
  background-color: #365968;
}

.footer-top {
  padding: 30px 0;
}

/* Add any other global styles you need */
