* {
    box-sizing: border-box;
}

.page1 {
    margin-top: -6%;
    width: 100%;
    height: 32.5vh;
}
sup{
    color: red;
}
.page2 {
    width: 100%;
    height: 70vh;
}
input::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

/****************************** setting semi trans background when scrolled *******************/

.page1 {
    background: url("/assets/img/dbkladmin.jpg") no-repeat top center;
    /*responsive bckgrnd img */
    background-size: cover;
    background-attachment: fixed;
    /* parallex effect 1*/
    position: relative;
}

.page2 {
    background-color: black;
    opacity: 0.75;
}

.page2wrapper {
    background: url("/assets/img/dbkladmin.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    color: white;
    padding: 12%;
}
.navbar-brand{
  margin-top: 0px;
}

.navbar-brand img{
  width: 100%;
  height: 73px;
}


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 649px;
        margin: 1.75rem auto;
    }
}


td {
    padding: 7px;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #253d84;
}

a:hover {
    color: white;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:Arial, Helvetica, sans-serif;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}
.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #253d84;
    color: #fff;
    transition: all 0.4s;
}


/* .back-to-top i:hover {
    background: #e72323;
    color: #fff;
} */

.look_for {
    margin-top: 10px;
    margin-right: 10px;
   background-image: linear-gradient(to bottom, #337ab7 0, #265a88 100%);
    /* background: #253d84; */
    border: 0;
    padding: 10px 20px;
    color: #fff;
    transition: 0.4s;
    float: right;
    font-size: 14px;
    margin-bottom: 24px;
    border-color: #245580;
    border-radius: 4px;
    border: 1px solid transparent;
  }

  .look_for:hover {
    background: #23527c;
  }
  .look_for_red{
    margin-top: 10px;
    margin-right: 10px;
    background-image: -webkit-linear-gradient(top, #d9534f 0, #c12e2a 100%);
    /* background: #253d84; */
    border: 0;
    padding: 10px 20px;
    color: #fff;
    transition: 0.4s;
    float: right;
    font-size: 14px;
    margin-bottom: 24px;
    border-color: red;
    border-radius: 4px;
    border: 1px solid transparent;
  }
  .look_for_red:hover {
  background: #d9534f;
}

/* .form-row{
    margin-right: 88px ;
    margin-left: 88px ;
} */
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1111a3;
    border-top-color: #efefef;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
    .navbar-brand img{
      width: 100%;
      height: 29px;
  }

  .navbar-brand{
      margin-top: 0px;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 24px 0;
    overflow: hidden;
}

main section {
    padding: 53px 205px;
    overflow: hidden;
    /* margin-bottom: 32px; */
}

.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #191919;
    position: relative;
    z-index: 2;
}

.section-title span {
    position: absolute;
    top: 30px;
    color: #f4f4f4;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px !important;
    text-transform: uppercase;
    line-height: 0;
}

.section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

.col-md-12,
.col-12 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@media (max-width: 575px) {
    .section-title h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .section-title span {
        font-size: 18px !important;
    }
}

@media (min-width: 992px) {
    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 25.666667%;
    }
   
}



/* New code for Mobile responsive */

/* .card {
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
} */
label{
    font-weight: 700;
}
@media screen and (max-width: 990px) {
    .card {
        box-shadow: none;
        border: none;
    }
    main section {
        padding: 0px;
    }
}

.form-group {
    margin-bottom: 0px !important;
}

.card-header {
    margin-bottom: 1em;
}

.mt-top {
    margin-top: 1em;
}

.swal2-icon.swal2-success [class^="swal2-success-line"][class$="long"] {
    width: 2.5em !important;
}

.swal2-icon.swal2-success [class^="swal2-success-line"][class$="tip"] {
    width: 1.3em !important;
}

.form-control:focus,
.custom-select:focus {
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 0%);
    border-color: #ced4da !important;
}

.table-responsive {
    font-size: 11px;
}


/* pagination */

:host /deep/.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    color: #fefefe !important;
    cursor: default;
    background: #253d84;
}

:host /deep/.ngx-pagination a,
.ngx-pagination button {
    /* color: #0a0a0a; */
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 0%);
    border-color: #ced4da !important;
}

.swal2-icon.swal2-success [class^="swal2-success-line"][class$="long"] {
    right: 0.3em !important;
    color: #253d84;
    border-color: #253d84 !important;
    box-shadow: 0 0 2px #1111A3 !important;
}
.swal2-icon.swal2-error {
    border-color: #253d84 !important;
  }
  .swal2-icon.swal2-success .swal2-success-ring {
    position: absolute;
    top: -0.25em;
    left: -0.25em;
    width: 100%;
    height: 100%;
    border: 0.25em solid #253d84!important;
    border-radius: 50%;
    z-index: 2;
    box-sizing: content-box;
  }
  .swal2-icon.swal2-success [class^="swal2-success-line"] {
    display: block;
    position: absolute;
    height: 0.3125em;
    border-radius: 0.125em;
    background-color: #253d84;
    z-index: 2;
  }
  .swal2-popup.swal2-toast
  .swal2-success
  [class^="swal2-success-circular-line"][class$="left"] {
  top: -0.25em;
  left: -0.9375em;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 2em 2em;
  transform-origin: 2em 2em;
  border-radius: 4em 0 0 4em;
}

.swal2-popup.swal2-toast
  .swal2-success
  [class^="swal2-success-circular-line"][class$="right"] {
  top: -0.25em;
  left: 0.9375em;
  -webkit-transform-origin: 0 2em;
  transform-origin: 0 2em;
  border-radius: 0 4em 4em 0;
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu>ul {
    display: flex;
  }
  
  .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 12px 10px;
    margin-left: 5px;
    transition: 0.3s;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }
  
  .nav-menu>ul>li:hover,
  .nav-menu .active {
    background: #1111A3;
  }
  
  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #191919;
  }
  
  .nav-menu .drop-down ul a:hover,
  .nav-menu .drop-down ul .active>a,
  .nav-menu .drop-down ul li:hover>a {
    color: #e82d2d;
  }
  
  .nav-menu .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down>a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
  
    .nav-menu .drop-down .drop-down:hover>ul {
      left: -100%;
    }
  
    .nav-menu .drop-down .drop-down>a:after {
      content: "\ea9d";
    }
  }
  
  nav .nav-link {
    font-size: 14px !important;
    padding-right: 15px;
    padding-left: 15px;
    height: 58px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-weight: 700;
  }
  
  .navbar-nav>.active>a {
    background-color: #1111A3;
  }
  
  .navbar-light .navbar-toggler {
    border-color: #9e9e9e !important;
  }
  
  .dropdown-menu {
  color: black !important;
    background-clip: border-box !important;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    margin: 0px 0px !important;
  }
  
  .dropdown-item:hover {
    background-color: #1111A3 !important;
    color: white ;
    transition: 0.3s;
  }
  
  .dropdown-item {
    padding: 10px 20px;
    font-size: 14px !important;
    color: black  !important;
  }
  
  .navbar-nav li:hover>ul.dropdown-menu {
    display: block;
  }
  
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
  }
  
  /* rotate caret on hover */
  
  .dropdown-menu>li>a:hover:after {
    text-decoration: underline;
    transform: rotate(-45deg);
  }
  
  .dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: 0;
    /* remove the gap so it doesn't close*/
  }
  
  .dropdown-toggle::after {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin: -0.3em 0 0 0.4em;
    vertical-align: middle;
    content: "";
    border: 0.3em solid;
    border-width: 0 0.15em 0.15em 0;
    transform: rotateZ(45deg);
  }
  
  a,
  a:hover {
    color: white !important;
  }
  
  nav .nav-item:hover {
   
    transition: 0.3s;
  }
  
  .navbar {
    padding: 0px 0px !important;
  }
  
  .navbar-toggler {
    border-radius: 0.25rem !important;
    padding: 0.25rem 0.75rem !important;
    font-size: 1.25rem !important;
  }
  
  canvas .chartjs-render-monitor {
    width: 100% !important;
  }
  
  @media only screen and (min-width: 1024px) {
    .parliament {
      /* margin-left: 1.5em !important;
      margin-right: 1em !important; */
    }
  
    .spaceRight {
      font-size: 10px !important;
      margin-left: 0.3em !important;
      font-weight: 600;
    }
  
    canvas .chartjs-render-monitor {
      width: 100% !important;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .parliament {
      /* margin-left: 1em !important;
      margin-right: 1em !important; */
    }
  
    .spaceRight {
      font-size: 12px !important;
    }
  
    canvas .chartjs-render-monitor {
      width: 100% !important;
    }
  }
  
  @media only screen and (min-width: 1300px) {
    .parliament {
      /* margin-left: 2.6em !important;
      margin-right: 1em !important; */
    }
  
    .spaceRight {
      /* font-size: 13px !important; remove */
      margin-right: 0.9rem;
      /* margin-left: 0.6em !important;  remove */
    }
  
    canvas .chartjs-render-monitor {
      width: 100% !important;
    }
  }
  
  @media only screen and (min-width: 1350px) {
    .parliament {
      margin-left: 160px;
      margin-right: 0px;
      /* justify-content: space-between; */
    }
  
    canvas .chartjs-render-monitor {
      width: 100% !important;
    }
  }
  
  @media only screen and (min-width: 1400px) {
    .parliament {
      margin-left: 10em;
      margin-right: 1em;
      justify-content: space-between;
    }
  
    .spaceRight {
      font-size: 14px !important;
      margin-left: 0.5em !important;
    }
  
    canvas .chartjs-render-monitor {
      width: 100% !important;
    }
  }
  
  @media only screen and (max-width: 425px) {
    .parliament {
      margin-left: 0.9em !important;
      margin-right: 1em !important;
    }
  
    .col-10 {
      flex: 0 0 100%;
      max-width: 100% !important;
    }
  
    .col-1 {
      display: none !important;
    }
  
    .spaceRight {
      font-size: 6px !important;
      margin-left: 0.5em !important;
      transform: rotate(321deg) !important;
      font-weight: 600;
    }
  
    main {
      padding: 0px !important;
    }
  
    section {
      padding: 0px 10px !important;
    }
  
    canvas .chartjs-render-monitor {
      width: 100% !important;
    }
  
    #customers {
      margin-left: 0rem !important;
    }
  
    .mtn4 {
      margin-top: -1em !important;
    }
  
    .section-title {
      padding-bottom: 0px !important;
    }
  }
  
  /* .home {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } */
  
  .form-control:focus,
  .custom-select:focus {
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 0%);
  
    border-color: #ced4da !important;
  }
 
  
  a,
  a:hover {
    color: white !important;
  }
  
  nav .nav-item:hover {
   
    transition: 0.3s;
  }
  
  .navbar {
    padding: 0px 0px !important;
  }
  .test{
    font-size: 12px;
            margin-left: -258px !important;
            margin-top: 41px !important;
            font-weight: 700;
    }
    @media Screen and   (max-width: 761px) and (min-width : 360px){
        .test{     
            font-size: 11px;
            margin-left: 63px !important;
            margin-top: -56px !important;
            font-weight: 700;
    }
    }
    
     @media Screen and   (max-width: 1100px) and (min-width : 768px){
        .test{
        font-size: 12px;
        margin-left: -622px !important;
        margin-top: 41px !important;
        font-weight: 700;
    }
    }
    
    
    
  
  